{% extends 'base_page.html' %}
{% load static %}

{% block content %}
    <main id="main">


        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Mentors Panel</h2>

                    <ol>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Mentors Panel</li>
                    </ol>
                </div>

            </div>
        </section>

    <section id="services" class="services">
      <div class="container">



        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-file-alt"></i>
              <h4><a href="{% url 'resume-list' %}" class="stretched-link">Resume Review</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
             <div class="icon-box">
             <i class="icofont-search-job"></i>
              <h4><a href="{% url 'interview-list-mentor' %}" class="stretched-link">Schedule Interview</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-ui-user-group"></i>
              <h4><a href="{% url 'gd-list-mentor' %}" class="stretched-link">Schedule GD</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-badge"></i>
              <h4><a href="{% url 'badge' %}" class="stretched-link">Award a Badge</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-users-social"></i>
              <h4><a href="{% url 'profile-list' %}" class="stretched-link">Profiles</a></h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    

    </main>
{% endblock %}
