{% extends 'base_page.html' %}
{% load static %}

{% block custom_css %}
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css"
           crossorigin="anonymous">
{% endblock custom_css %}

{% block content %}
    <main id="main">


        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Profiles</h2>

                   <ol>
                        <li><a href="{% url 'index' %}">Home</a></li>
                         <li><a href="{% url 'mentors-home' %}">Mentors Panel</a></li>
                        <li>Profiles</li>
                    </ol>
                </div>

            </div>
        </section>

    <section id="services" class="services">
      <div class="container">


               <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <p class="font-weight-bold p-0 m-0 text-center text-uppercase underline highlight_text">
                                    User Profile</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Profile</th>
                                            <th>Aptitude</th>
                                            <th>Resume</th>
                                            <th>GD</th>
                                            <th>TECH</th>
                                            <th>HR</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for entry in data %}
                                            <tr>
                                                <td>
                                                    <div class="media align-items-center">
                                                        <a href="{% url 'profile-detail' id=entry.id %}">
                                                            <img src="{{ entry.image.url }}" loading="lazy"
                                                                 alt="{{ entry.name }}"
                                                                 title="{{ entry.user.username }}" class="avatar rounded-cricle mr-3">
                                                        </a>
                                                        <div class="media-body">
                                                            <a href="{% url 'profile-detail' id=entry.id %}"><span
                                                                    class="mb-0 text-sm font-weight-bold">
                                                                {% if entry.name %}
                                                                    {{ entry.name }}
                                                                {% else %}
                                                                    {{ entry.user.username }}
                                                                {% endif %}
                                                            </span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    {% if entry.check_for_apti %}
                                                    <img src="{{entry.url_for_apti}}" width="50px">
                                                    {% else %}
                                                    <img src="{% static 'assets/img/error.png' %}" width="50px">
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if entry.check_for_resume %}
                                                    <img src="{{entry.url_for_resume}}" width="50px">
                                                    {% else %}
                                                    <img src="{% static 'assets/img/error.png' %}" width="50px">
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if entry.check_for_gd %}
                                                    <img src="{{entry.url_for_gd}}" width="50px">
                                                    {% else %}
                                                    <img src="{% static 'assets/img/error.png' %}" width="50px">
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if entry.check_for_tech %}
                                                    <img src="{{entry.url_for_apti}}" width="50px">
                                                    {% else %}
                                                    <img src="{% static 'assets/img/error.png' %}" width="50px">
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if entry.check_for_hr %}
                                                    <img src="{{entry.url_for_apti}}" width="50px">
                                                    {% else %}
                                                    <img src="{% static 'assets/img/error.png' %}" width="50px">
                                                    {% endif %}
                                                </td>
                                             </tr>
                                          
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



      </div>
    </section>

    

    </main>
{% endblock %}


{% block custom_js %}
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  $('#dataTable').DataTable();
});
</script>
{% endblock custom_js %}
