{% extends "base_page.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block custom_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <main id="main">
        <section class="breadcrumbs">
            <div class="container">

                {% if heading %}
                    <h2 class="entry-title">{{ heading }}
                    </h2>
                {% endif %}
            </div>
        </section>


        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <!-- End blog entries list -->

                    <div class="col-lg-8" id="main-content-space">

                    </div>
                    <div class="col-lg-3 ml-auto">
                        <div class="sidebar">
                            <h3 class="sidebar-title">Options</h3>
                            <div class="sidebar-item categories">
                                <button class="btn btn-info" type="button" onclick="printer()">Print</button>
                                {% if resume.user == request.user %}
                                <a class="btn btn-info" href="{%  url 'resume-contact' %}">Back to Edit </a>
                                {% endif %}
                                {% if form %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{ form | crispy }}
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </form>
                                {% endif %}
                            </div><!-- End sidebar categories-->

                        </div><!-- End sidebar -->

                    </div><!-- End blog sidebar -->

                </div>
            </div>
        </section><!-- End Blog Single Section -->


    </main><!-- End #main -->




{% endblock %}

{% block custom_js %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>


<script>
      function printer() {
          var prtContent = document.getElementById("main-content-space");
          var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
          WinPrint.document.write(prtContent.innerHTML);
          WinPrint.document.close();
          WinPrint.focus();
          WinPrint.print();
          WinPrint.close();
      }
        var tid = 1;

        function func(id) {
            tid = id;
            $("#ip").attr("value", id);

            $.ajax({
                url: "{% url 'resume-preview-template'%}",
                headers: {
                    'templateId': id
                },
                success: function (val) {
                    $("#main-content-space").html(val)
                }
            });
        }

        $(document).ready(
            func(1)
        )
    </script>
{% endblock %}