{% extends 'profile/auth.html' %} {% load static %} {% block custom_css %}
<link href="{% static 'assets/css/auth.css' %}" rel="stylesheet" />
{% endblock custom_css %} {% block content %}

<div class="login-page">
  <h2 class="heading">Login</h2>
  <div class="form">
    <form action="" class="login-form" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input
          type="text"
          class="form-control shadow-none"
          id="exampleInputEmail"
          name="username"
          placeholder="Enter Username or Email"
          required=""
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control shadow-none"
          name="password"
          id="exampleInputPassword"
          placeholder="Password"
          required=""
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block custom-danger-btn">
          Submit
        </button>
      </div>
    </form>
    <div class="text-center">
      {% comment %} <a class="small" href="{% url 'register' %}">Need an account?</a> {% endcomment %}
    </div>
  </div>
</div>
{% endblock content %}
