{% extends "base_page.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css"/>
{% endblock %}

{% block content %}

    <main id="main">
     <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                {% if heading %}
                    <h2>{{ heading }}</h2>
                {% endif %}

                    <ol>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'resume-home' %}">Resume Builder</a></li>
                        <li>Build</li>
                    </ol>
                </div>

            </div>
        </section>


    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-content">

                            {% if education %}
                                <div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th> School Name</th>
                                            <th> Score</th>
                                            <th> Degree</th>
                                            <th> Field of Study</th>
                                            <th> Board</th>
                                            <th> Joining Date</th>
                                            <th> Status of Education</th>
                                            <th> Passing Date</th>
                                            <th> Address</th>
                                            <th> Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ed in education %}
                                            <tr>
                                                <td>{{ ed.school_name }} </td>
                                                <td> {{ ed.score }} </td>
                                                <td> {{ ed.degree }} </td>
                                                <td>{{ ed.field_of_study }} </td>
                                                <td> {{ ed.board }} </td>
                                                <td> {{ ed.joining_date }} </td>
                                                {% if ed.status == '2' %}
                                                    <td> Perseuing</td>
                                                    <td> -</td>
                                                {% else %}
                                                    <td> Completed</td>
                                                    <td> {{ ed.passing_date }} </td>
                                                {% endif %}

                                                <td>  {{ ed.city }},{{ ed.state }},{{ ed.country }}  </td>
                                                <td><a class="btn btn-success"
                                                       href="{% url 'resume-education-edit' id=ed.id %}">Edit</a></td>
                                                <td><a class="btn btn-danger"
                                                       href="{% url 'resume-education-delete' id=ed.id %}">delete</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                            {% if obj %}
                                <div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th>Objectives</th>
                                            <th>Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in obj %}
                                            <tr>
                                                <td> {{ p.description }} </td>
                                                <td><a class="btn btn-success"
                                                       href="{% url 'resume-obj-edit' id=p.id %}">edit</a></td>
                                                <td><a class="btn btn-danger"
                                                       href="{% url 'resume-obj-delete' id=p.id %}">delete</a></td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                            {% if skills %}
                                <div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th> Skill</th>
                                            <th> proficiency</th>
                                            <th> Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for skill in skills %}
                                            <tr>
                                                <td>{{ skill.skill }}</td>
                                                {% if skill.proficiency == '1' %}
                                                    <td>Basic</td>
                                                {% elif skill.proficiency == '2' %}
                                                    <td>Intermediate</td>
                                                {% elif skill.proficiency == '3' %}
                                                    <td>Advanced</td>
                                                {% else %}
                                                    <td> Expert</td>
                                                {% endif %}
                                                <td><a class="btn btn-success"
                                                       href="{% url 'resume-skills-edit' id=skill.id %}">Edit</a></td>
                                                <td><a class="btn btn-danger"
                                                       href="{% url 'resume-skills-delete' id=skill.id %}">Delete</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}


                            {% if internship %}
                                <div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th> Company</th>
                                            <th> Position</th>
                                            <th> Address</th>
                                            <th> Date of Joining</th>
                                            <th> Status</th>
                                            <th> Date of Exit</th>
                                            <th>Description</th>
                                            <th>Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in internship %}
                                            <tr>
                                                <td>{{ i.name }}</td>
                                                <td>{{ i.position }}</td>
                                                <td>{{ i.city }},{{ i.state }},{{ i.country }}</td>
                                                <td>{{ i.date_of_joining }}</td>
                                                <td> {{ i.i_status }}</td>
                                                <td> {{ i.date_of_exit }}</td>
                                                <td> {{ i.description }} </td>
                                                <td><a class="btn btn-success"
                                                       href="{% url 'resume-internship-edit' id=i.id %}">Edit</a></td>
                                                <td><a class="btn btn-danger"
                                                       href="{% url 'resume-internship-delete' id=i.id %}">delete</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}


                            {% if training %}
                                <div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th> Name</th>
                                            <th> Provider</th>
                                            <th> Status</th>
                                            <th> Date</th>
                                            <th>Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for t in training %}
                                            <tr>
                                                <td> {{ t.name }} </td>
                                                <td> {{ t.provider }} </td>
                                                {% if t.t_status == '1' %}
                                                     <td>  Completed  </td>
                                                {% else %}
                                                <td> pursuing </td>
                                                {% endif %}
                                                <td> {{ t.date }}
                                                <td>
                                                <td><a class="btn btn-success"
                                                       href="{% url 'resume-training-edit' id=t.id %}">Edit</a></td>
                                                <td><a class="btn btn-danger"
                                                       href="{% url 'resume-training-delete' id=t.id %}">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                            {% if projects %}
                                <div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th> Name</th>
                                            <th> Start Date</th>
                                            <th> Status</th>
                                            <th> End Date</th>
                                            <th> Description</th>
                                            <th>Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in projects %}
                                            <tr>
                                                <td> {{ p.name }} </td>
                                                <td> {{ p.start_date }}  </td>
                                                {% if p.p_status == '1' %}
                                                     <td>  Completed  </td>
                                                {% else %}
                                                <td> pursuing </td>
                                                {% endif %}
                                                <td> {{ p.end_date }} </td>
                                                <td> {{ p.description }} </td>
                                                <td><a class="btn btn-success"
                                                       href="{% url 'resume-project-edit' id=p.id %}">edit</a></td>
                                                <td><a class="btn btn-danger"
                                                       href="{% url 'resume-project-delete' id=p.id %}">delete</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                         {% if extra %}
                                <div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th> Activities</th>
                                            <th>Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in extra %}
                                            <tr>
                                                <td> {{ p.name }} </td>
                                                <td><a class="btn btn-success"
                                                       href="{% url 'resume-extra-edit' id=p.id %}">Edit</a></td>
                                                <td><a class="btn btn-danger"
                                                       href="{% url 'resume-extra-delete' id=p.id %}">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                            {% if lang %}
                                <div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th> Language</th>
                                            <th> proficiency</th>
                                            <th> Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for l in lang %}
                                            <tr>
                                                <td>{{ l.language }} </td>
                                                {% if l.proficiency == '1' %}
                                                    <td>Basic</td>
                                                {% elif l.proficiency == '2' %}
                                                    <td>Intermediate</td>
                                                {% elif l.proficiency == '3' %}
                                                    <td>Advanced</td>
                                                {% else %}
                                                    <td> Expert</td>
                                                {% endif %}
                                                <td><a class="btn btn-success"
                                                       href="{% url 'resume-language-edit' id=l.id %}">Edit</a></td>
                                                <td><a class="btn btn-danger"
                                                       href="{% url 'resume-language-delete' id=l.id %}">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}


                            {% if ach %}
                                <div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th> Achievement</th>
                                            <th>Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in ach %}
                                            <tr>
                                                <td> {{ p.description }} </td>
                                                <td><a class="btn btn-success"
                                                       href="{% url 'resume-achievement-edit' id=p.id %}">edit</a></td>
                                                <td><a class="btn btn-danger"
                                                       href="{% url 'resume-achievement-delete' id=p.id %}">delete</a></td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                            {% if other %}
                                <div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th> Heading</th>
                                            <th> Description</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for o in other %}
                                            <tr>
                                                <td>{{ o.heading }}  </td>
                                                <td> {{ o.description }}  </td>
                                                <td><a class="btn btn-success"
                                                       href="{% url 'resume-other-edit' id=o.id %}">Edit</a></td>
                                                <td><a class="btn btn-danger"
                                                       href="{% url 'resume-other-delete' id=o.id %}">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                            <blockquote style="text-align:left">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                            </blockquote>
                        </div>
                    </article><!-- End blog entry -->
                </div><!-- End blog entries list -->

                <div class="col-lg-4">
                    <div class="sidebar">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="{% url 'resume-contact' %}">Contact</a></li>
{#                                <li><a href="{% url 'resume-obj' %}">Objectives</a></li>#}
                                <li><a href="{%  url 'resume-skills' %}">Skills </a></li>
                                <li><a href="{%  url 'resume-education' %}">Education</a></li>
                                <li><a href="{%  url 'resume-internship' %}">Internship</a></li>
                                <li><a href="{%  url 'resume-training' %}">Training</a></li>
                                <li><a href="{%  url 'resume-project' %}">Projects</a></li>
                                <li><a href="{%  url 'resume-extra' %}">Extra Curricular Activities</a></li>
                                <li><a href="{%  url 'resume-language' %}">Languages</a></li>
                                <li><a href="{%  url 'resume-achievement' %}">Achievements</a></li>
                            </ul>
                            <div class="progress mb-3">
                                <div class="progress-bar progress-bar-striped active" style="width: {{ width }}%"></div>
                            </div>
                            {% if prev %}
                                <a class="btn btn-warning" href="{% url prev %}">Previous</a>
                            {% endif %}

                            {% if next %}
                                <a class="btn btn-info" href="{% url next %}">Next</a>
                            {% endif %}

                            <a class = "btn btn-success" href="{%url 'resume-preview' %}">Preview</a>
                        </div><!-- End sidebar categories-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Single Section -->

    </main><!-- End #main -->




{% endblock %}

{% block custom_js %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"
            integrity="sha512-s5u/JBtkPg+Ff2WEr49/cJsod95UgLHbC00N/GglqdQuLnYhALncz8ZHiW/LxDRGduijLKzeYb7Aal9h3codZA=="
            crossorigin="anonymous"></script>
    <script>
    $(function () {
          $("#id_date_of_joining").datepicker({
              dateFormat: 'yy-mm-dd',
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+2",
          }).attr("autocomplete", "off");
      })
    $(function () {
          $("#id_date").datepicker({
              dateFormat: 'yy-mm-dd',
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+2",
          }).attr("autocomplete", "off");
      })
$(function () {
          $("#id_start_date").datepicker({
              dateFormat: 'yy-mm-dd',
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+2",
          }).attr("autocomplete", "off");
      })
     $(function () {
          $("#id_end_date").datepicker({
              dateFormat: 'yy-mm-dd',
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+2",
          }).attr("autocomplete", "off");
      })
    $(function () {
          $("#id_date_of_exit").datepicker({
              dateFormat: 'yy-mm-dd',
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+2",
          }).attr("autocomplete", "off");
      })
      $(function () {
          $("#id_joining_date").datepicker({
              dateFormat: 'yy-mm-dd',
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+2",
          }).attr("autocomplete", "off");
      })
      $(function () {
          $("#id_passing_date").datepicker({
              dateFormat: 'yy-mm-dd',
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+2",
          }).attr("autocomplete", "off");
      })
        $("#id_status").change(function () {
            selected = $('#id_status').find(":selected").text();
            console.log(selected)
            if (selected == "Completed") {
                $('#id_passing_date').attr("required", true);
            } else {
                $('#id_passing_date').attr("required", false);
            }
        });

        $("#id_i_status").change(function () {
            selected = $('#id_i_status').find(":selected").text();
            console.log(selected)
            if (selected == "Completed") {
                $('#id_date_of_exit').attr("required", true);
            } else {
                $('#id_date_of_exit').attr("required", false);
            }
        });

        $("#id_t_status").change(function () {
            selected = $('#id_t_status').find(":selected").text();
            console.log(selected)
            if (selected == "Completed") {
                $('#id_date').attr("required", true);
            } else {
                $('#id_date').attr("required", false);
            }
        });

        $("#id_p_status").change(function () {
            selected = $('#id_p_status').find(":selected").text();
            console.log(selected)
            if (selected == "Completed") {
                $('#id_end_date').attr("required", true);
            } else {
                $('#id_end_date').attr("required", false);
            }
        });
    </script>
{% endblock %}