{% load static %}
{% block custom_styles %}
    <link rel="stylesheet" href="{%  static 'template-css/test2.css' %}" />
    <style>
    section{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    </style>
{% endblock custom_styles %}

  <body>
    <div class="resmue-container">
      <nav>
        <a href="#" onclick="print()">Print</a>
      </nav>
      <div class="top-level">
        <div class="first-level">
          <div class="first-first-level">
            <section>
              <h2 class="name">Swasthik C Nayak</h2>
             
              <p class="info text-md">
                 <small>UI / UX DESIGNER/DEVELOPER</small>
              </p>
              <p class="info">
                <small
                  ><span class="fa fa-xs fa-map-marker"></span> 5-71B,
                  Nagarabettu, Herga Village,Parkala post</small
                >
              </p>
              <p class="info">
                <small> Udupi-576107,Karnataka,India post</small>
              </p>
              <p class="info">
                <small>
                  <span class="fa fa-xs fa-phone"></span> +91 7210562014 &nbsp
                  <span class="fa fa-xs fa-github"></span> www.github.com</small
                >
              </p>
              <p class="info">
                <small
                  ><span class="fa fa-xs fa-linkedin"></span> www.linkedIn.com
                  &nbsp
                  <span class="fa fa-xs fa-envelope"></span>
                  swasthik0304@gmail.com</small
                >
              </p>
            </section>
          </div>
          <div class="first-second-level">
            <section class="text-center">
              <img class="porfile-pic" src="https://picsum.photos/200" alt="" />
            </section>
          </div>
        </div>
        <div class="second-level">
          <div class="second-first-level">
          <section>
              <h4 class="header-i">ABOUT ME</h4>
                <p class="ln-p">I am a good guy you know that right. I am a good guy you know that right.I am a good guy you know that right.I am a good guy you know that right. </p>
            </section>
            
            <section>
              <h4 class="header-i">INTERNSHIP AND EXPERIENCE</h4>
              <ul>
                <li>
                  <h6 class="ie-h6">Company 1</h6>
                  <i class="ie-p">Senior engineer - SanFrancisco,CA</i>
                  <p class="ie-p">
                    sdf asdf Senior engineer - SanFrancisco,CA Senior engineer -
                    SanFrancisco,CA
                  </p>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
                <li>
                  <h6 class="ie-h6">Company 2</h6>
                  <i class="ie-p">Senior engineer - SanFrancisco,CA</i>
                  <p class="ie-p">
                    sdf asdf Senior engineer - SanFrancisco,CA Senior engineer -
                    SanFrancisco,CA
                  </p>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
              </ul>
            </section>

            <section>
              <h4 class="header-i">EDUCATION</h4>
              <ul>
                <li>
                  <h6 class="ie-h6">Pre-University Education</h6>
                  <p class="ie-p">MGM Pre University College</p>
                  <i class="ie-p">
                    Udupi,Karnataka  
                  </i>
                  <i class="ie-pf">Percentage - 95%</i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
                <li>
                  <h6 class="ie-h6">Pre-University Education</h6>
                  <p class="ie-p">MGM Pre University College</p>
                  <i class="ie-p">
                    Udupi,Karnataka  
                  </i>
                  <i class="ie-pf">Percentage - 95%</i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
                <li>
                  <h6 class="ie-h6">Pre-University Education</h6>
                  <p class="ie-p">MGM Pre University College</p>
                  <i class="ie-p">
                    Udupi,Karnataka  
                  </i>
                  <i class="ie-pf">Percentage - 95%</i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
              </ul>
            </section>

            <section>
              <h4 class="header-i">ACHIEVEMENTS</h4>
              <ul>
                <li>
                  <p class="ie-h6">My first Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My second Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My third Achievement</p>
                </li>
              </ul>
            </section>
          </div>
          <div class="second-second-level">
          
          <section>
              <h4 class="header-i">OBJECTIVES</h4>
                <p class="ln-p">I am a good guy you know that right. I am a good guy you know that right.I am a good guy you know that right.I am a good guy you know that right. </p>
            </section>
          <section>
              <h4 class="header-i">SKILLS</h4>
               <ul>
                <li>
                  <h6 class="ie-h6">Technical Skills</h6>
                  <p class="ie-p">MGM Pre University College</p>
                </li>
                 <li>
                  <h6 class="ie-h6">Language Skills</h6>
                  <p class="ie-p">MGM Pre University College</p>
                </li>
                <li>
                  <h6 class="ie-h6">Other Skills</h6>
                  <p class="ie-p">MGM Pre University College</p>
                </li>
              </ul>
            </section>

            <section>
              <h4 class="header-i">PROJECTS</h4>
              <ul>
                <li>
                  <h6 class="ie-h6">My Biggest Project</h6>
                  <p class="ie-p">Technologies Used</p>
                  <i class="ie-p">
                    Brief Explanation  
                  </i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
                <li>
                  <h6 class="ie-h6">My Biggest Project</h6>
                  <p class="ie-p">Technologies Used</p>
                  <i class="ie-p">
                    Brief Explanation  
                  </i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
               <li>
                  <h6 class="ie-h6">My Biggest Project</h6>
                  <p class="ie-p">Technologies Used</p>
                  <i class="ie-p">
                    Brief Explanation  
                  </i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
              </ul>
            </section>

<section>
              <h4 class="header-i">TRAINING AND CERTIFICATIONS</h4>
               <ul>
                <li>
                  <p class="ie-h6">My first Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My second Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My third Achievement</p>
                </li>
              </ul>
            </section>
              <section>
              <h4 class="header-i">HOBBIES AND PERSONAL INTERESTS</h4>
               <ul>
                <li>
                  <p class="ie-h6">My first Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My second Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My third Achievement</p>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
      integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
      integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
