
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<style>
    img {
    -webkit-print-color-adjust: exact;
}

    @page  {
        size: A4;

    }
    @media print {
        body{
            width: 210mm;
            height: 297mm;
        }
    }

    section{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .top-level {
  display: flex;
  /* to centre page on screen*/
        width: 210mm;
            height: 297mm;
        border:1px solid black;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.first-level {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.first-first-level {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.first-second-level {
  height: 100%;
  width: auto;
}

.second-level {
  height: 100%;
  display: flex;
}

.second-first-level {
  height: 100%;
  width: 50%;
  display: flex;
  margin-right: 5px;
  flex-direction: column;
}

.second-second-level {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info {
  margin-bottom: 0px;
}

.porfile-pic {
  --size: 120px;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  margin: 20px 20px;
  display: block;
}
.text-center {
  text-align: center;
}


.header-i{
  padding: 0 2px 0 10px;
  margin-bottom: 0px;
  font-size: medium;
  border-bottom: 2px solid black;
  font-weight: bolder;
  /* text-decoration: underline 2px solid black; */
}

.ie-h6{
  margin-bottom: 0px;
}

.ie-p{
  margin-bottom: 0px;
  font-size: small;
}

.ie-pf{
  margin-bottom: 0px;
  float: right;
  font-size: small;
}

.checked {
  color: orange;
}

.ln-p{
  margin-left: 20px;
  margin-bottom: 2px;
  font-size: small;
}

ul{
  margin-bottom: 2px;
}

.name{
  margin-bottom: 0px;
}

.text-md{
  font-size:22px;
}
    </style>


  <body>
    <div class="resmue-container">
      <div class="top-level">
        <div class="first-level">
          <div class="first-first-level">
            <section>
              <h2 class="name">Swasthik C Nayak</h2>
             
              <p class="info text-md">
                 <small>UI / UX DESIGNER/DEVELOPER</small>
              </p>
              <p class="info">
                <small
                  ><span class="fa fa-xs fa-map-marker"></span> 5-71B,
                  Nagarabettu, Herga Village,Parkala post</small
                >
              </p>
              <p class="info">
                <small> Udupi-576107,Karnataka,India post</small>
              </p>
              <p class="info">
                <small>
                  <span class="fa fa-xs fa-phone"></span> +91 7210562014 &nbsp
                  <span class="fa fa-xs fa-github"></span> www.github.com</small
                >
              </p>
              <p class="info">
                <small
                  ><span class="fa fa-xs fa-linkedin"></span> www.linkedIn.com
                  &nbsp
                  <span class="fa fa-xs fa-envelope"></span>
                  swasthik0304@gmail.com</small
                >
              </p>
            </section>
          </div>
          <div class="first-second-level">
            <section class="text-center">
              <img class="porfile-pic" src="https://picsum.photos/200" alt="" />
            </section>
          </div>
        </div>
        <div class="second-level">
          <div class="second-first-level">
          <section>
              <h4 class="header-i">ABOUT ME</h4>
                <p class="ln-p">I am a good guy you know that right. I am a good guy you know that right.I am a good guy you know that right.I am a good guy you know that right. </p>
            </section>
            
            <section>
              <h4 class="header-i">INTERNSHIP AND EXPERIENCE</h4>
              <ul>
                <li>
                  <h6 class="ie-h6">Company 1</h6>
                  <i class="ie-p">Senior engineer - SanFrancisco,CA</i>
                  <p class="ie-p">
                    sdf asdf Senior engineer - SanFrancisco,CA Senior engineer -
                    SanFrancisco,CA
                  </p>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
                <li>
                  <h6 class="ie-h6">Company 2</h6>
                  <i class="ie-p">Senior engineer - SanFrancisco,CA</i>
                  <p class="ie-p">
                    sdf asdf Senior engineer - SanFrancisco,CA Senior engineer -
                    SanFrancisco,CA
                  </p>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
              </ul>
            </section>

            <section>
              <h4 class="header-i">EDUCATION</h4>
              <ul>
                <li>
                  <h6 class="ie-h6">Pre-University Education</h6>
                  <p class="ie-p">MGM Pre University College</p>
                  <i class="ie-p">
                    Udupi,Karnataka  
                  </i>
                  <i class="ie-pf">Percentage - 95%</i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
                <li>
                  <h6 class="ie-h6">Pre-University Education</h6>
                  <p class="ie-p">MGM Pre University College</p>
                  <i class="ie-p">
                    Udupi,Karnataka  
                  </i>
                  <i class="ie-pf">Percentage - 95%</i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
                <li>
                  <h6 class="ie-h6">Pre-University Education</h6>
                  <p class="ie-p">MGM Pre University College</p>
                  <i class="ie-p">
                    Udupi,Karnataka  
                  </i>
                  <i class="ie-pf">Percentage - 95%</i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
              </ul>
            </section>

            <section>
              <h4 class="header-i">ACHIEVEMENTS</h4>
              <ul>
                <li>
                  <p class="ie-h6">My first Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My second Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My third Achievement</p>
                </li>
              </ul>
            </section>
          </div>
          <div class="second-second-level">
          
          <section>
              <h4 class="header-i">OBJECTIVES</h4>
                <p class="ln-p">I am a good guy you know that right. I am a good guy you know that right.I am a good guy you know that right.I am a good guy you know that right. </p>
            </section>
          <section>
              <h4 class="header-i">SKILLS</h4>
               <ul>
                <li>
                  <h6 class="ie-h6">Technical Skills</h6>
                  <p class="ie-p">MGM Pre University College</p>
                </li>
                 <li>
                  <h6 class="ie-h6">Language Skills</h6>
                  <p class="ie-p">MGM Pre University College</p>
                </li>
                <li>
                  <h6 class="ie-h6">Other Skills</h6>
                  <p class="ie-p">MGM Pre University College</p>
                </li>
              </ul>
            </section>

            <section>
              <h4 class="header-i">PROJECTS</h4>
              <ul>
                <li>
                  <h6 class="ie-h6">My Biggest Project</h6>
                  <p class="ie-p">Technologies Used</p>
                  <i class="ie-p">
                    Brief Explanation  
                  </i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
                <li>
                  <h6 class="ie-h6">My Biggest Project</h6>
                  <p class="ie-p">Technologies Used</p>
                  <i class="ie-p">
                    Brief Explanation  
                  </i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
               <li>
                  <h6 class="ie-h6">My Biggest Project</h6>
                  <p class="ie-p">Technologies Used</p>
                  <i class="ie-p">
                    Brief Explanation  
                  </i>
                  <p class="ie-p"><small>February to August 1999</small></p>
                </li>
              </ul>
            </section>

<section>
              <h4 class="header-i">TRAINING AND CERTIFICATIONS</h4>
               <ul>
                <li>
                  <p class="ie-h6">My first Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My second Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My third Achievement</p>
                </li>
              </ul>
            </section>
              <section>
              <h4 class="header-i">HOBBIES AND PERSONAL INTERESTS</h4>
               <ul>
                <li>
                  <p class="ie-h6">My first Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My second Achievement</p>
                </li>
                <li>
                  <p class="ie-h6">My third Achievement</p>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

</body>