{% load static %}
{% block custom_styles %}
    <link rel="stylesheet" href="{%  static 'template-css/test1.css' %}" />
    <style>
    section{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    </style>
{% endblock custom_styles %}

  <body>
    <div class="resmue-container">
      <div class="top-level">
        <div class="first-level">
          <div class="frist-level-center">
          <section>
              <h2 class="text-center">SWASTHIK C NAYAK</h2>
              <!-- <small class="text-muted">UI / UX DESIGNER/DEVELOPER</small>-->
              <p class="info">
                <small> 5-71B,
                  Nagarabettu, Herga Village,Parkala post Udupi-576107,Karnataka,India post</small>
              </p>
              <p class="info">
                <small>
                   +91 7210562014 |
                  www.github.com |  www.linkedIn.com |
                  swasthik0304@gmail.com </small
                >
              </p>
            </section>
          </div>
        </div>

        <div class="second-level">
            <section>
            <p class="l-h">EDUCATION</p>
            <div class="content">
                <p class="l-dh">Southwestern University <small><i class="l-dhi">Georgetown,TX</i></small></p>
                <i><small>Bachelor of Arts in Computer Science, Minor in Business <i class="l-dhi">Aug 2018-May 2021</i></small></i>
            </div>
            <div class="content">
                <p class="l-dh">Southwestern University <small><i class="l-dhi">Georgetown,TX</i></small></p>
                <i><small>Bachelor of Arts in Computer Science, Minor in Business <i class="l-dhi">Aug 2018-May 2021</i></small></i>
            </div>
            <div class="content">
                <p class="l-dh">Southwestern University <small><i class="l-dhi">Georgetown,TX</i></small></p>
                <i><small>Bachelor of Arts in Computer Science, Minor in Business <i class="l-dhi">Aug 2018-May 2021</i></small></i>
            </div>
            </section>

             <section>
            <p class="l-h">INTERNSHIPS &amp EXPERIENCE</p>
            <div class="content">
                <p class="l-dh">Undergraduate Research Assistant <small><i class="l-dhi">June 2020-Present</i></small></p>
                <i><small>Texam A&ampM University<i class="l-dhi">College Station,TX</i></small></i>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
            <div class="content">
                <p class="l-dh">Undergraduate Research Assistant <small><i class="l-dhi">June 2020-Present</i></small></p>
                <i><small>Texam A&ampM University<i class="l-dhi">College Station,TX</i></small></i>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
            <div class="content">
                <p class="l-dh">Undergraduate Research Assistant <small><i class="l-dhi">June 2020-Present</i></small></p>
                <i><small>Texam A&ampM University <i class="l-dhi">College Station,TX</i></small></i>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
            </section>

             <section>
            <p class="l-h">PROJECTS</p>
            <div class="content">
                <p class="l-dh">A very big game | <span class="ilb">python, java, django, php, myadmin </span><small><i class="l-dhi">June 2020-Present</i></small></p>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
            <div class="content">
                <p class="l-dh">A very big game | <span class="ilb">python, java, django, php, myadmin </span><small><i class="l-dhi">June 2020-Present</i></small></p>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
           <div class="content">
                <p class="l-dh">A very big game | <span class="ilb">python, java, django, php, myadmin </span><small><i class="l-dhi">June 2020-Present</i></small></p>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
            </section>


             <section>
            <p class="l-h">SKILLS</p>
            <div class="content">
                <table>
                <tbody>
                <tr>
                <th>Technical Skills :

                <td>
                Java,Python, HTML, CSS, R, ...
                </td>
                </tr>
                <tr>
                <th>Language Skills :
                <td>
                Java,Python, HTML, CSS, R, ...
                </td>
                </tr>
                </tbody>
                </table>
            </div>
            </section>
        </div>
    </div>

