<div class=""><div><style type="text/css" id="static">
        html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}
        body{background:#FFF;line-height:1;text-align:left;font-feature-settings:"liga" 0;-moz-font-feature-settings:"liga" off}
        #document.skn-mlc1 table{border-collapse:collapse;border-spacing:0;font-size:inherit;color:inherit;width:100%}

        /* START content disc style for LI */
        #document.skn-mlc1 ul,#document.skn-mlc1 li{list-style:none;margin:0;padding:0}
        #document.skn-mlc1 ul li{position:relative;margin:0px;padding-left:15px}
        #document.skn-mlc1 ul li:before{content:'\2022';font-size:9px;position:absolute;left:0;top:0}
        /* END content disc style for LI */

        #document.skn-mlc1 .paddedline{display:block}
        #document.skn-mlc1 .septr:before{content:"\2022";font-size:9px;vertical-align:top;padding-left:2px;padding-right:2px}
        #document.skn-mlc1 .jobline ul{margin-top:6px}
        #document.skn-mlc1 .degreeGap{margin-top:5px}
        #document.skn-mlc1 .txt-bold{font-weight:bold}
        #document.skn-mlc1 .txtItl{font-style:italic}
        #document.skn-mlc1 .sprtr{margin:0 3px}
        #document.skn-mlc1 .displayNoneThisField{display:none}
        #document.skn-mlc1 .flt-right{float:right}

        /*Document*/
        #document.skn-mlc1{color:#343b30;line-height:16px;font-variant-ligatures:none;word-wrap:break-word}
        #document.skn-mlc1 .topsection,#document.skn-mlc1 .parentContainer,#document.skn-mlc1 .sectiontitle, #document.skn-mlc1 .wrap{display:table;table-layout:fixed;width:100%}
        #document.skn-mlc1 .name{font-weight:bold;padding:0 0 28px 0;text-align:left;letter-spacing:.5px;text-transform:uppercase;position:relative}
        #document.skn-mlc1 .name:after{content:" ";border-bottom:1px solid #595959;margin-bottom:15px;height:1px;width:32px;position:absolute;left:0;bottom:0;font-size:initial}
        #document.skn-mlc1 .profTitle{font-weight:normal;letter-spacing:1px}

        /* Circle SVG */
        #document.skn-mlc1 .address{text-align:left}
        #document.skn-mlc1 .adrs-field{display:block;position:relative;margin-bottom:10px;min-height:14px}
		#document.skn-mlc1 .adrs-field:last-child{margin-bottom:0}
        #document.skn-mlc1 .adrs-field .circle{position:relative;border-radius:100%;height:15px;width:15px;float:left;top:-1px;text-align:center;font-size:9px;box-sizing:border-box}

        #document.skn-mlc1 .address .txt-bold + .field{padding-left:20px;vertical-align:top}
        #document.skn-mlc1 .address .adrs-field > .addrCircle{display:table-cell;padding-left:10px;max-width:166px;box-sizing:border-box;}

        #document.skn-mlc1 .userdetail .field{padding-left:0!important}
        #document.skn-mlc1 .userdetail .adrs-field:first-child{padding-top:10px}

        /* Heading */
        #document.skn-mlc1 .heading{font-weight:bold;font-size:18px;text-transform:uppercase;position:relative}
        #document.skn-mlc1 .sectiontitle{letter-spacing:1px}
        #document.skn-mlc1 table.skills,#document.skn-mlc1 .table_wrapper{width:100%;margin-top:0}
        #document.skn-mlc1 table.skills th,#document.skn-mlc1 table.skills td{width:20%;text-align:center}
        #document.skn-mlc1 table.skills th{text-decoration:underline}
        #document.skn-mlc1 table.skills .skillname,#document.skn-mlc1 table.skills .skillrating{text-align:left;width:35%}
        #document.skn-mlc1 table.skills .skillrating{width:20%}
        #document.skn-mlc1 table.skills .skillyears,#document.skn-mlc1 table.skills .skilllast{width:19%}
        #document.skn-mlc1 table.skills .pad1{width:5%}
        #document.skn-mlc1 table.skills .pad2,#document.skn-mlc1 table.skills .pad3{width:1%}

        /* Common style for left and right box */
        #document.skn-mlc1 .left-box{padding:30px;display:table-cell;position:relative;overflow:hidden}
        #document.skn-mlc1 .right-box{padding:30px;display:table-cell;vertical-align:middle;position:relative}
        #document.skn-mlc1 .left-box > .section:first-child,#document.skn-mlc1 .right-box > .section:first-child{padding-top:0}
        #document.skn-mlc1 .right-box > .section:first-child .heading,#document.skn-mlc1 .left-box > .section:first-child .heading{margin-bottom:10px!important}
        #document.skn-mlc1 .right-box .skill{display:table;width:100%;table-layout:fixed}
        #document.skn-mlc1 .right-box .skill .paddedline{display:table-cell;width:50%}
        #document.skn-mlc1 .right-box .skill .paddedline:last-child{padding-left:10px}
        /* Handling background color of left/right box */
        #document.skn-mlc1 .topsection .left-box:before{border-left:1px solid transparent;content:'';position:absolute;width:100%;height:100%;left:0;top:0;opacity:.5}
        #document.skn-mlc1 .topsection .right-box:before{content:'';position:absolute;width:100%;height:100%;left:0;top:0;opacity:.1}
        #document.skn-mlc1 .parentContainer .left-box:before{content:'';height:100%;left:0;top:0;opacity:.2}
        #document.skn-mlc1 .topsection .left-box,#document.skn-mlc1 .topsection .right-box,#document.skn-mlc1 .parentContainer .left-box{background:#fff}

        /* Warning- Do not change below line keep it as it is because there is replace code in ExportProcess file for this line */
        #document.skn-mlc1 .parentContainer .left-box:before{position:absolute;width:100%}
        #document.skn-mlc1 .parentContainer .right-box{vertical-align:top}

        /* Specifically for finalize page:START */
        #document.skn-mlc1 .topsection .left-box:before,#document.skn-mlc1 .parentContainer .left-box:before,#document.skn-mlc1 .topsection .right-box:before{background-color:#E5B0AD}
        #document.skn-mlc1 .parentContainer .left-box.dropable-container .SortableItem-sibling[data-react-beautiful-dnd-draggable="0"]{background-color:#E5B0AD}
        /* Specifically for finalize page:END */

        /*New logic for infographic*/
        #document.skn-mlc1 .lang-sec .singlecolumn,#document.skn-mlc1 .skli-sec .singlecolumn{display:none}
        #document.skn-mlc1 .lang-sec.infobarsec .infobarpara,#document.skn-mlc1 .lang-sec.infotilesec .infotilepara,#document.skn-mlc1 .skli-sec.infobarsec .infobarpara,#document.skn-mlc1 .skli-sec.infotilesec .infotilepara{display:block}

        /*Infographic Bar*/
        #document.skn-mlc1 .lang-sec.infobarsec,#document.skn-mlc1 .skli-sec.infobarsec{font-size:0}
        #document.skn-mlc1 .lang-sec.infobarsec .field *,#document.skn-mlc1 .lang-sec.infobarsec .nativeLangPara .field,
        #document.skn-mlc1 .skli-sec.infobarsec .field *{display:inline}
        #document.skn-mlc1 .right-box .lang-sec.infobarsec .para_odd,#document.skn-mlc1 .right-box .skli-sec.infobarsec .para_odd{margin-right:15px!important;display:inline-block}
        #document.skn-mlc1 .right-box .lang-sec.infobarsec .paragraph,#document.skn-mlc1 .right-box .skli-sec.infobarsec .paragraph{display:inline-block;vertical-align:top;padding-bottom:5px;margin-top:0px}
        #document.skn-mlc1 .parentContainer .lang-sec.infobarsec .singlecolumn,#document.skn-mlc1 .parentContainer .skli-sec.infobarsec .singlecolumn{margin-left:0!important;padding-left:0}
        #document.skn-mlc1 .lang-sec.infobarsec .rating-bar,#document.skn-mlc1 .skli-sec.infobarsec .rating-bar{background:#d5d6d6;width:100%;clear:both;margin-top:3px}
        #document.skn-mlc1 .lang-sec.infobarsec .inner-rating,#document.skn-mlc1 .skli-sec.infobarsec .inner-rating{background-color:#E5B0AD;height:4px;width:60%;position:relative}
        #document.skn-mlc1 .lang-sec .paragraph:nth-last-child(1),#document.skn-mlc1 .skli-sec .paragraph:nth-last-child(1){padding-bottom:0!important}
        #document.skn-mlc1 .right-box .lang-sec .paragraph:nth-last-child(-n+2),#document.skn-mlc1 .right-box .skli-sec .paragraph:nth-last-child(-n+2){padding-bottom:0}
        #document.skn-mlc1 .left-box .lang-sec.infobarsec,#document.skn-mlc1 .left-box .skli-sec.infobarsec{margin-left:0px}
        #document.skn-mlc1 .left-box .lang-sec.infobarsec .para_odd,#document.skn-mlc1 .left-box .skli-sec.infobarsec .para_odd{margin-right:0px}
        #document.skn-mlc1 .left-box .lang-sec.infobarsec .paragraph,#document.skn-mlc1 .left-box .skli-sec.infobarsec .paragraph{width:100%;max-width:100%}

        #document.skn-mlc1 .new-lang .lang-colon{display:none!important}
        #document.skn-mlc1 .pd-left{width:100%;display:table;table-layout:fixed}

        /*Infographic Tiles*/
        #document.skn-mlc1 .lang-sec.infotilesec,#document.skn-mlc1 .skli-sec{font-size:0}
        #document.skn-mlc1 .lang-sec.infotilesec .paragraph,#document.skn-mlc1 .skli-sec .paragraph{display:inline-block;vertical-align:top;padding-bottom:5px;margin-top:0;width:100%}

        #document.skn-mlc1 .lang-sec.infotilesec .nativeLangPara .field,#document.skn-mlc1 .lang-sec.infotilesec .field *,#document.skn-mlc1 .skli-sec .field *{display:inline}
        #document.skn-mlc1 .lang-sec.infotilesec .singlecolumn,#document.skn-mlc1 .skli-sec .singlecolumn{margin-left:0!important}
        #document.skn-mlc1 .lang-sec.infotilesec .sliced-rect,#document.skn-mlc1 .skli-sec .sliced-rect{height:6px;width:100%;margin-top:3px;line-height:0px;clear:both}
        #document.skn-mlc1 .right-box .lang-sec.infotilesec .paragraph.para_odd,#document.skn-mlc1 .right-box .skli-sec .paragraph.para_odd{margin-right:15px}
        #document.skn-mlc1 .lang-sec.infotilesec .sliced-rect .sliced-rect-tile,#document.skn-mlc1 .skli-sec .sliced-rect .sliced-rect-tile{height:100%;background-color:#d5d6d6;float:left;margin-right:3px}
        #document.skn-mlc1 .lang-sec.infotilesec .sliced-rect .sliced-rect-tile:last-child,#document.skn-mlc1 .skli-sec .sliced-rect .sliced-rect-tile:last-child{margin-right:0}

        /*Rectangular Rating Blocks*/
        #document.skn-mlc1 .sliced-rect .sliced-rect-tile.ratvfill{background-color:#E5B0AD}
        #document.skn-mlc1 .hide-bar .rating-bar,#document.skn-mlc1 .hide-bar .sliced-rect,#document.skn-mlc1 .hide-colon .colon{display:none!important}

		/*MPR*/
		#document.skn-mlc1.MPR .hide-bar .field-ratt{display:none}

        /*HPHN CPHN Translation Hacks*/
        #document.skn-mlc1 .hphnfield:before{content:'h'}
        #document.skn-mlc1 .cphnfield:before{content:'c'}

        #document.skn-mlc1.MFR .hphnfield:before{content:'t';position:relative;left:0.25px;top:-0.25px}
        #document.skn-mlc1.MFR .cphnfield:before{content:'t';position:relative;left:0.25px;top:-0.25px}
        #document.skn-mlc1 .beforecolonspace{display:none!important}
        #document.skn-mlc1.MFR .beforecolonspace{display:inline!important}

        /*Dyanmic BG*/
        #document.skn-mlc1.dynamicbg{position:relative}
        #document.skn-mlc1.dynamicbg:before{background-image:url("");background-repeat:no-repeat;background-position: 0 top;background-size:contain;content:'';position:absolute;left:0;top:0;height:100%;z-index:-2}
        /* IE Support */
        #document.skn-mlc1 .right-box .social-links ul{max-width:315px}
        #document.skn-mlc1 .left-box .social-links ul{max-width:227px}
        #document.skn-mlc1 .section{position:relative}
    </style><style type="text/css" id="dynamic" data-time="Wed Apr 28 2021 13:13:28 GMT+0530 (India Standard Time)">
        #document.skn-mlc1,#document.skn-mlc1 table{line-height:13px}
        #document.skn-mlc1.pagesize{width:612px}
        #document.skn-mlc1.fontsize,#document.skn-mlc1 .lang-sec.infobarsec .paragraph,#document.skn-mlc1 .lang-sec.infotilesec .paragraph,#document.skn-mlc1 .skli-sec *{font-size:10px}
        #document.skn-mlc1.fontface{font-family:Trebuchet MS}
        #document.skn-mlc1 .section{padding-top:25px}
        #document.skn-mlc1 .topsection .section{padding-top:0}
        #document.skn-mlc1 .firstparagraph{margin-top:0!important}
        #document.skn-mlc1 .paragraph{margin-top:10px}
        #document.skn-mlc1 .right-box .singlecolumn,#document.skn-mlc1 .right-box .maincolumn{margin-left:0px}
        #document.skn-mlc1 table.skills td{padding-top:7px}
        #document.skn-mlc1 .name{font-size:28px;line-height:26px}
        #document.skn-mlc1 .profTitle{font-size:14px;line-height:20px;margin-top:6px}
        #document.skn-mlc1 .topsection .left-box:before,#document.skn-mlc1 .parentContainer .left-box:before,#document.skn-mlc1 .topsection .right-box:before{background-color:#0187de}
        #document.skn-mlc1 .adrs-field .circle{height:17px;width:18px}
        #document.skn-mlc1.dynamicbg:before{background-image:url({$DYBG});width:612px}

        #document.skn-mlc1 .adrs-field svg{height:17px;width:18px; vertical-align:middle;}
        #document.skn-mlc1 .address .txt-bold + .field,#document.skn-mlc1 .address .adrs-field > .addrCircle{padding-left:8px}
        #document.skn-mlc1 .address{font-size:10px}
        #document.skn-mlc1 .address2{font-size:10px}
        #document.skn-mlc1 .heading{font-size:12px;line-height:15px;margin-bottom:10px}
        #document.skn-mlc1 .sectiontitle{font-size:12px}
        #document.skn-mlc1 .left-box,#document.skn-mlc1 .left-box .firstparagraph{width:166px}

        /*Infographic*/
        #document.skn-mlc1 .lang-sec.infobarsec .paragraph,#document.skn-mlc1 .skli-sec.infobarsec .paragraph{width:154px;max-width:154px}
        #document.skn-mlc1 .lang-sec.infobarsec .inner-rating,#document.skn-mlc1 .skli-sec.infobarsec .inner-rating{background-color:#0187de}
        #document.skn-mlc1 .right-box .lang-sec.infobarsec,#document.skn-mlc1 .right-box .skli-sec.infobarsec{padding-left:0px}
        #document.skn-mlc1 .right-box .lang-sec.infobarsec .heading,#document.skn-mlc1 .right-box .skli-sec.infobarsec .heading{margin-left:-0px}
        #document.skn-mlc1 .right-box .lang-sec.infobarsec .nativeLangPara{width:326px;max-width:326px}
        #document.skn-mlc1 .left-box .lang-sec.infobarsec  .paragraph,#document.skn-mlc1 .left-box .skli-sec.infobarsec  .paragraph{padding-bottom:5px;margin-top:0}

        /*Infographic Skills*/
        #document.skn-mlc1 .right-box .lang-sec.infotilesec,#document.skn-mlc1 .right-box .skli-sec{padding-left:0px}
        #document.skn-mlc1 .right-box .lang-sec.infotilesec .heading,#document.skn-mlc1 .right-box .skli-sec.infotilesec .heading{margin-left:-0px}
        #document.skn-mlc1 .right-box .lang-sec.infotilesec .paragraph,#document.skn-mlc1 .right-box .skli-sec .paragraph{width:154px}
        #document.skn-mlc1 .left-box .lang-sec.infotilesec .paragraph,#document.skn-mlc1 .left-box .skli-sec .paragraph{padding-bottom:5px;margin-top:0}
        #document.skn-mlc1 .right-box .lang-sec.infotilesec .nativeLangPara{width:326px;max-width:326px}

        /*Rectangular Rating Blocks*/
        #document.skn-mlc1 .paragraph .sliced-rect .sliced-rect-tile.ratvfill{background-color:#0187de}

        /*Builder Infographic*/
        #document.skn-mlc1 .lang-sec.infobarsec .sortable-item .para_odd,#document.skn-mlc1 .lang-sec.infobarsec .sortable-item .para_even,#document.skn-mlc1 .right-box .lang-sec.infobarsec .sortable-item .firstparagraph:not(.para_odd):not(.para_even),
        #document.skn-mlc1 .skli-sec.infobarsec .sortable-item .para_odd,#document.skn-mlc1 .skli-sec.infobarsec .sortable-item .para_even,#document.skn-mlc1 .right-box .skli-sec.infobarsec .sortable-item .firstparagraph:not(.para_odd):not(.para_even){padding-bottom:5px!important}
        #document.skn-mlc1 .right-box .lang-sec.infobarsec .sortable-item:nth-last-child(1) .paragraph, #document.skn-mlc1 .right-box .lang-sec.infobarsec .sortable-item:nth-last-child(2) .paragraph,
        #document.skn-mlc1 .right-box .skli-sec.infobarsec .sortable-item:nth-last-child(1) .paragraph, #document.skn-mlc1 .right-box .skli-sec.infobarsec .sortable-item:nth-last-child(2) .paragraph{padding-bottom:0}
        #document.skn-mlc1 .right-box .lang-sec.infobarsec .sortable-item .para_odd,#document.skn-mlc1 .right-box .lang-sec.infobarsec .sortable-item .para_even,#document.skn-mlc1 .right-box .skli-sec.infobarsec .sortable-item .para_odd,#document.skn-mlc1 .right-box .skli-sec.infobarsec .sortable-item .para_even{max-width:154px}
        #document.skn-mlc1 .left-box .lang-sec.infobarsec .sortable-item .paragraph,#document.skn-mlc1 .left-box .skli-sec.infobarsec .sortable-item .paragraph{padding-bottom:5px}
        #document.skn-mlc1 .left-box .lang-sec.infobarsec .sortable-item,#document.skn-mlc1 .left-box .skli-sec.infobarsec .sortable-item{display:block!important}
        #document.skn-mlc1 .left-box .lang-sec.infobarsec .sortable-item .paragraph,#document.skn-mlc1 .left-box .skli-sec.infobarsec .sortable-item .paragraph{margin-right:0!important}
        #document.skn-mlc1 .left-box .data-LNGG.active .ratingBar:before{background-color:#d5d6d6}
        .page-finalize #document.skn-mlc1 .right-box .lang-sec.infobarsec .paragraph-container,.page-finalize #document.skn-mlc1 .right-box .skli-sec.infobarsec .paragraph-container,.page-finalize #document.skn-mlc1 .right-box .skli-sec.infotilesec .paragraph-container{display:inline-block!important}

        /* specifically for finalize page */
        #document.skn-mlc1 .parentContainer .left-box.dropable-container .SortableItem-sibling[data-react-beautiful-dnd-draggable="0"]{background-color:#0187de}
        #document.skn-mlc1 .disp-table {display:table;table-layout:fixed;width:100%}
    </style></div><div id="document" class="document fontsize fontface vmargins hmargins pagesize skn-mlc1 MLC1  HLM"><div id="CONTAINER_PARENT_0" class="topsection"><div id="CONTAINER_0" class="left-box"><div data-react-beautiful-dnd-draggable="4" class="sortable-item section-container SortableItem-sibling name-contact"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_NAME9ece1e6f-e355-4b51-9c31-17d13c00f59f" class="section notdraggable SECTION_NAME firstsection    " data-section-cd="NAME"><div class=" doc-item"><div class=""><div class=""><div id="PARAGRAPH_NAME_ead5f2ea-1a78-dd2e-1875-47c7315699c2" class="paragraph PARAGRAPH_NAME firstparagraph placeholder-text "><div>
                        <div class="name">
                            <div class="field" id="FIELD_FNAM" dependency="FNAM">Your</div>
                            <div class="field" id="FIELD_LNAM" dependency="LNAM">Name</div>

                        </div>
                    </div></div></div></div></div></div><div id="SECTION_CNTC501df7f0-0430-4cd1-a3f1-99d424ca2f9f" class="section SECTION_CNTC notdraggable     " data-section-cd="CNTC"><div class=" doc-item"><div class=""><div class=""><div id="PARAGRAPH_CNTC_89475b19-eb03-5d88-e7de-8a85c6f69fd9" class="paragraph PARAGRAPH_CNTC firstparagraph  "><div class="clearfix doc-item">
                        <div class="address">


                            <div class="adrs-field" dependency="ADDR|STRT|CITY|STAT|ZIPC">
                                <span class="txt-bold circle">
                                    <svg x="0px" y="0px" viewBox="0 0 18 18">
                                        <circle id="Oval-Copy-5" fill="#FFFFFF" cx="9" cy="9" r="9"></circle>
                                        <g id="Group-3" transform="translate(5.000000, 4.000000)">
                                        <path id="Fill-1" fill="#000" d="M3.7,5.1C2.8,5.1,2,4.4,2,3.5s0.7-1.6,1.6-1.6s1.6,0.7,1.6,1.6S4.6,5.1,3.7,5.1 M3.7,0
                                                C1.6,0,0,1.6,0,3.7c0,0.8,0.6,2.3,1.7,4.2c0.8,1.5,1.7,2.7,1.7,2.7L3.7,11l0.2-0.3c0,0,0.9-1.3,1.7-2.7c1.1-2,1.7-3.4,1.7-4.2
                                                C7.3,1.6,5.7,0,3.7,0"></path>
                                        </g>
                                    </svg>
                                </span>
                                <span class="addrCircle">
                                    <span class="wrap">
                                        <span class="field" id="FIELD_STRT"></span>
                                        <span class="field" id="FIELD_CITY">Udupi</span><span dependency="CITY+STAT">, </span>
                                        <span class="field" id="FIELD_STAT">KA</span>
                                        <span class="field" id="FIELD_ZIPC">576101</span>
										<span class="field" id="FIELD_ADDR"></span>
                                    </span>
                                </span>
                            </div>
                        </div>

                    </div></div></div></div></div></div><div class="doc-overlay section-overlay" style="left:-2px; right: -2px;"><span> </span></div></div></div><div id="CONTAINER_1" class="right-box"><div data-react-beautiful-dnd-draggable="4" class="sortable-item section-container SortableItem-sibling  data-SUMM"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_SUMM5a0fa2fc-8879-4e27-bf6c-7209e2d99a08" class="section notdraggable SECTION_SUMM  noparagraph   " data-section-cd="SUMM"><div class=" doc-item"><div class="heading"><div class="sectiontitle" id="SECTIONNAME_SUMM">Professional Summary<span class="rename-section text-rename"> </span></div></div><div class=""><div class=""><div id="PARAGRAPH_SUMM_0" class="paragraph PARAGRAPH_SUMM firstparagraph placeholder-text "><div class="clearfix doc-item">
                        <div class="field singlecolumn" id="FIELD_FRFM">Highly motivated Sales Associate with extensive customer service and sales experience. Outgoing sales professional with track record of driving increased sales, improving buying experience and elevating company profile with target market.</div>
                    </div></div></div></div></div></div></div></div></div><div id="CONTAINER_PARENT_1" class="parentContainer"><div id="CONTAINER_2" class="left-box"><div data-react-beautiful-dnd-draggable="5" class="sortable-item section-container SortableItem-sibling  data-HILT"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_HILT2f3a86a8-1f9e-46cd-b378-aa873eb7bb98" class="section SECTION_HILT  noparagraph   " data-section-cd="HILT"><div class=" doc-item"><div class="heading"><div class="sectiontitle" id="SECTIONNAME_HILT">Skills<span class="rename-section text-rename"> </span></div></div><div class=""><div class=""><div id="PARAGRAPH_HILT_0" class="paragraph PARAGRAPH_HILT firstparagraph placeholder-text "><div class="clearfix doc-item">
                        <div class="singlecolumn maincolumn">
						    <div class="skill">
                            <span class="paddedline" id="FIELD_SKC1"><ul><li>Guest services</li><li>Inventory control procedures</li><li>Merchandising expertise</li></ul></span>
                            <span class="paddedline" id="FIELD_SKC2"><ul><li>Loss prevention</li><li>Cash register operations</li><li>Product promotions</li></ul></span>
							</div>
                        </div>
                    </div></div></div></div></div></div></div><div data-react-beautiful-dnd-draggable="5" class="sortable-item section-container SortableItem-sibling  data-EDUC"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_EDUCa11342d8-cd60-4ee6-8686-a2143f765c4f" class="section education SECTION_EDUC  noparagraph multi-para  " data-section-cd="EDUC"><div class=" doc-item"><div class="heading"><div class="sectiontitle" id="SECTIONNAME_EDUC">Education<span class="rename-section text-rename"> </span></div></div><div class=""><div class=""><div id="PARAGRAPH_EDUC_0" class="paragraph PARAGRAPH_EDUC firstparagraph placeholder-text "><div class="clearfix doc-item">
                        <div class="singlecolumn">
                            <span class="paddedline" dependency="SCHO">
                                <span class="companyname txt-bold" id="FIELD_SCHO">San Francisco State University</span>
                            </span>
                            <span class="paddedline" dependency="SCIT|SSTA|GRYR|GRED|GRST|GRIP">
                                <span class="joblocation jobcity" id="FIELD_SCIT">San Francisco</span><span dependency="SCIT+SSTA">, </span><span class="joblocation jobstate" id="FIELD_SSTA">CA</span>
                                <span dependency="GRYR|GRED|GRST|GRIP"><span dependency="SSTA|SCIT" class="septr"></span></span>
                                <span class="xslt_static_change displayNoneThisField">Expected in </span>
								<span id="FIELD_GRYR" format="%m/%Y">2013</span>
								<span class="jobdates" id="FIELD_GRST" format="%m/%Y"></span><span class="jobdates" id="FIELD_GRED" format="%m/%Y"></span>

								<span id="FIELD_GRIP"></span>
                            </span>
                            <span class="paddedline degreeGap" dependency="DGRE|STUY|GRPA|GRHN">
                                <span class="degree txt-bold txtItl" id="FIELD_DGRE">Bachelor of Arts</span><span dependency="DGRE+STUY"><span class="beforecolonspace"> </span><span>:</span></span>
                                <span class="programline" id="FIELD_STUY">Business Administration</span>
								<span dependency="DGRE|STUY"></span><span id="FIELD_GRHN"></span>
                                <span class="field" id="FIELD_GRPA"></span>
                            </span>
                            <span class="field" id="FIELD_FRFM"></span>
                        </div>
                    </div></div></div></div></div></div></div></div><div id="CONTAINER_3" class="right-box"><div data-react-beautiful-dnd-draggable="5" class="sortable-item section-container SortableItem-sibling  data-EXPR"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_EXPR68c9c026-e553-4664-89ae-d56db2bb4543" class="section SECTION_EXPR  noparagraph multi-para  " data-section-cd="EXPR"><div class=" doc-item"><div class="heading"><div class="sectiontitle" id="SECTIONNAME_EXPR">Work History<span class="rename-section text-rename"> </span></div></div><div class=""><div class="sortableInner"><div id="PARAGRAPH_EXPR_0" class="paragraph PARAGRAPH_EXPR firstparagraph placeholder-text "><div class="clearfix doc-item">
                        <div class="singlecolumn">
                            <span class="paddedline" dependency="COMP|JCIT|JSTA|JCNT|JTIT|JCTR|JSTD|EDDT">
                                <span class="companyname txt-bold" id="FIELD_COMP">Bed Bath &amp; Beyond, Inc.</span><span dependency="COMP+JTIT"> - </span><span class="jobtitle txt-bold" id="FIELD_JTIT">Senior Sales Associate</span>
                                <br dependency="COMP|JTIT">
                                <span class="joblocation jobcity txtItl" id="FIELD_JCIT">San Francisco</span><span dependency="JCIT+JSTA|JCNT">, </span><span class="joblocation jobstate txtItl" id="FIELD_JSTA">CA</span><span class="joblocation jobcountry txtItl" id="FIELD_JCNT"></span>
                                <span dependency="JCIT|JSTA|JCNT"><span dependency="JCTR|JSTD|EDDT" class="septr"></span></span>
                                <span class="txtItl" id="FIELD_JCTR"></span>

                                <span class="jobdates txtItl" id="FIELD_JSTD" format="%m/%Y">03/2015</span><span dependency="JSTD+EDDT"> - </span><span class="jobdates txtItl" id="FIELD_EDDT" format="%m/%Y">Current</span>
                            </span>
                            <span class="jobline" id="FIELD_JDES"><ul><li>Applied security and loss prevention training toward recognizing risks and reducing store theft</li><li>Trained and developed sales team associates in products, selling techniques and procedures</li><li>Maintained organized, presentable merchandise to drive continuous sales</li><li>Implemented up-selling strategies for recommending accessories and complementary purchases</li></ul></span>
                        </div>
                    </div></div><div id="PARAGRAPH_EXPR_-1" class="paragraph PARAGRAPH_EXPR placeholder-text "><div class="clearfix doc-item">
                        <div class="singlecolumn">
                            <span class="paddedline" dependency="COMP|JCIT|JSTA|JCNT|JTIT|JCTR|JSTD|EDDT">
                                <span class="companyname txt-bold" id="FIELD_COMP">Target</span><span dependency="COMP+JTIT"> - </span><span class="jobtitle txt-bold" id="FIELD_JTIT">Sales Associate</span>
                                <br dependency="COMP|JTIT">
                                <span class="joblocation jobcity txtItl" id="FIELD_JCIT">San Francisco</span><span dependency="JCIT+JSTA|JCNT">, </span><span class="joblocation jobstate txtItl" id="FIELD_JSTA">CA</span><span class="joblocation jobcountry txtItl" id="FIELD_JCNT"></span>
                                <span dependency="JCIT|JSTA|JCNT"><span dependency="JCTR|JSTD|EDDT" class="septr"></span></span>
                                <span class="txtItl" id="FIELD_JCTR"></span>

                                <span class="jobdates txtItl" id="FIELD_JSTD" format="%m/%Y">06/2013</span><span dependency="JSTD+EDDT"> - </span><span class="jobdates txtItl" id="FIELD_EDDT" format="%m/%Y">03/2015</span>
                            </span>
                            <span class="jobline" id="FIELD_JDES"><ul><li>Maintained organized, presentable merchandise to drive continuous sales</li><li>Organized racks and shelves to maintain store visual appeal, engage customers and promote merchandise</li><li>Evaluated inventory and delivery needs, optimizing strategies to meet customer demands</li><li>Analyzed and processed returns, assisting customers with finding alternative merchandise to meet needs</li></ul></span>
                        </div>
                    </div></div><div id="PARAGRAPH_EXPR_-2" class="paragraph PARAGRAPH_EXPR placeholder-text "><div class="clearfix doc-item">
                        <div class="singlecolumn">

                            <span class="jobline" id="FIELD_JDES"></span>
                        </div>
                    </div></div></div></div></div></div></div></div></div></div></div>