
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<style>

    @page  {
        size: A4;
    }
    @media print {
        body{
            width: 210mm;
            height: 297mm;
        }
    }

    section{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .top-level {
    display: flex;
    /* to centre page on screen*/

            width: 210mm;
            height: 297mm;
        border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .first-level {
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
  }


  .second-level{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .info{
      margin-bottom: 0px;
  }

  .text-center{
      text-decoration: underline 2px solid black;
  }

  .content{
      margin-left: 20px;
      margin-bottom: 5px;
  }

  .l-h{
      font-weight: 700;
      padding-left: 10px;
      font-size: 18px;
      margin-left: 10px;
      margin-right: 10px;
      border-bottom: 1px solid black;
      margin-bottom: 0px;
  }



  .l-dh{
      font-weight: 600;
      font-size: 16px;
    margin-bottom: 0px;
  }

  .l-dhi{
    font-weight: normal;
    font-size: small;
    float: right;
    font-style: italic;
    margin-right: 16px;
}

.list{
    margin-bottom: 0px;
    font-size: smaller;
}

.ilb{
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}


    </style>
<body>

    <div class="resmue-container">
      <div class="top-level">
        <div class="first-level">
          <div class="frist-level-center">
          <section>
              <h2 class="text-center">SWASTHIK C NAYAK</h2>
              <!-- <small class="text-muted">UI / UX DESIGNER/DEVELOPER</small>-->
              <p class="info">
                <small> 5-71B,
                  Nagarabettu, Herga Village,Parkala post Udupi-576107,Karnataka,India post</small>
              </p>
              <p class="info">
                <small>
                   +91 7210562014 |
                  www.github.com |  www.linkedIn.com |
                  swasthik0304@gmail.com </small
                >
              </p>
            </section>
          </div>
        </div>

        <div class="second-level">
            <section>
            <p class="l-h">EDUCATION</p>
            <div class="content">
                <p class="l-dh">Southwestern University <small><i class="l-dhi">Georgetown,TX</i></small></p>
                <i><small>Bachelor of Arts in Computer Science, Minor in Business <i class="l-dhi">Aug 2018-May 2021</i></small></i>
            </div>
            <div class="content">
                <p class="l-dh">Southwestern University <small><i class="l-dhi">Georgetown,TX</i></small></p>
                <i><small>Bachelor of Arts in Computer Science, Minor in Business <i class="l-dhi">Aug 2018-May 2021</i></small></i>
            </div>
            <div class="content">
                <p class="l-dh">Southwestern University <small><i class="l-dhi">Georgetown,TX</i></small></p>
                <i><small>Bachelor of Arts in Computer Science, Minor in Business <i class="l-dhi">Aug 2018-May 2021</i></small></i>
            </div>
            </section>

             <section>
            <p class="l-h">INTERNSHIPS &amp EXPERIENCE</p>
            <div class="content">
                <p class="l-dh">Undergraduate Research Assistant <small><i class="l-dhi">June 2020-Present</i></small></p>
                <i><small>Texam A&ampM University<i class="l-dhi">College Station,TX</i></small></i>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
            <div class="content">
                <p class="l-dh">Undergraduate Research Assistant <small><i class="l-dhi">June 2020-Present</i></small></p>
                <i><small>Texam A&ampM University<i class="l-dhi">College Station,TX</i></small></i>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
            <div class="content">
                <p class="l-dh">Undergraduate Research Assistant <small><i class="l-dhi">June 2020-Present</i></small></p>
                <i><small>Texam A&ampM University <i class="l-dhi">College Station,TX</i></small></i>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
            </section>

             <section>
            <p class="l-h">PROJECTS</p>
            <div class="content">
                <p class="l-dh">A very big game | <span class="ilb">python, java, django, php, myadmin </span><small><i class="l-dhi">June 2020-Present</i></small></p>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
            <div class="content">
                <p class="l-dh">A very big game | <span class="ilb">python, java, django, php, myadmin </span><small><i class="l-dhi">June 2020-Present</i></small></p>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
           <div class="content">
                <p class="l-dh">A very big game | <span class="ilb">python, java, django, php, myadmin </span><small><i class="l-dhi">June 2020-Present</i></small></p>
                <ul class="list">
                <li>Developed  a REST API
                <li>Developed  a REST API
                <li>Developed  a REST API
                </ul>
            </div>
            </section>


             <section>
            <p class="l-h">SKILLS</p>
            <div class="content">
                <table>
                <tbody>
                <tr>
                <th>Technical Skills :

                <td>
                Java,Python, HTML, CSS, R, ...
                </td>
                </tr>
                <tr>
                <th>Language Skills :
                <td>
                Java,Python, HTML, CSS, R, ...
                </td>
                </tr>
                </tbody>
                </table>
            </div>
            </section>
        </div>
    </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

</body>