{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block container %}
{% if heading %}
<h1>{{heading}}</h1>
{% endif %}
<form class="form-horizontal" method="post">
    {% csrf_token %}


    {{ education.management_form }}
    <h3>Education</h3>
    {% for form in education %}
        <div class="row form-row spacer">
            {{ form | crispy }}
            <button class="btn btn-success add-form-row">+</button>
        </div>

    {% endfor %}


    {{ skills.management_form }}
    <h3>Skills</h3>
    {% for form in skills %}
        <div class="row form-row spacer">
            {{ form | crispy }}
            <button class="btn btn-success add-form-row">+</button>
        </div>

    {% endfor %}



    {{ projects.management_form }}
    <h3>Projects</h3>
    {% for form in projects %}
        <div class="row form-row spacer">
            {{ form | crispy }}
            <button class="btn btn-success add-form-row">+</button>
        </div>

    {% endfor %}



    {{ internships_job.management_form }}
    <h3>Internships/Job</h3>
    {% for form in internships_job %}
        <div class="row form-row spacer">
            {{ form | crispy }}
            <button class="btn btn-success add-form-row">+</button>
        <hr>
        </div>

    {% endfor %}

    {{ achievement.management_form }}
    <h3>Achievements</h3>
    {% for form in achievement %}
        <div class="row form-row spacer">
            {{ form | crispy }}
            <button class="btn btn-success add-form-row">+</button>
        </div>

    {% endfor %}

    {{ other.management_form }}
    <h3>Other particulars</h3>
    {% for form in other %}
        <div class="row form-row spacer">
            {{ form | crispy }}
            <button class="btn btn-success add-form-row">+</button>
        </div>

    {% endfor %}
    <div class="row spacer">
        <div class="col-4 offset-2">
            <button type="submit" class="btn btn-block btn-primary">Create</button>
        </div>
    </div>
</form>



{% endblock %}




{% block custom_js %}
<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
   //.removeClass('btn-success').addClass('btn-danger')
    //.removeClass('add-form-row').addClass('remove-form-row')
    //.html('-');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    parent = $(this).parent()
    cloneMore(parent, 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

</script>
{% endblock %}