{% extends "base_page.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content %}
<main id="main">

     <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                {% if heading %}
                    <h2>{{ heading }}</h2>
                {% endif %}

                    <ol>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'resume-home' %}">Resume Builder</a></li>
                        <li>Preview</li>
                    </ol>
                </div>

            </div>
        </section>


    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

               <!-- End blog entries list -->

                <div class="col-lg-8" id="main-content-space" style="border: 0.5px solid black">

                </div>
                <div class="col-lg-3 ml-auto">
                    <div class="sidebar">
                        <div class="sidebar-item categories">
                            <a class="btn btn-info mb-2" href="{%  url 'resume-contact' %}">Back to Edit </a>
                            <button class="btn btn-info mb-2" type="button" onclick="printer()">Print </button>
                             <form method="POST">
                                 {%  csrf_token %}
                        <input type="hidden" name="ip" id="ip" value="1">
                        <button type="submit" class="btn btn-danger mb-2">Submit for review</button>
                    </form>
                        </div><!-- End sidebar categories-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>
        </div>
    </section><!-- End Blog Single Section -->


    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h2>Available Templates</h2>
        </header>
        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

{% for q in query %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ q.image.url }}" class="img-fluid" alt="">
              <div class="portfolio-info">

                <div class="portfolio-links text-center">
                  <a href="{{ q.image.url }}" target="_blank" data-gallery="portfolioGallery" class="portfokio-lightbox" ><i class="bx bx-zoom-in"></i></a><a href="#" onclick="func({{  q.id }})"><i class="bx bx-add-to-queue"></i></a>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>

      </div>

    </section><!-- End Portfolio Section -->

    </main><!-- End #main -->




{% endblock %}

{% block custom_js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>


      <script>
      function printer() {
          var prtContent = document.getElementById("main-content-space");
          var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
          WinPrint.document.write(prtContent.innerHTML);
          WinPrint.document.write(' <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"\n' +
              '          integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="\n' +
              '          crossorigin="anonymous"/>');
          WinPrint.document.close();
          WinPrint.setTimeout(function(){
      WinPrint.focus();
      WinPrint.print();
      WinPrint.close();
    }, 1000);
      }
      var tid = 1;
      function  func(id) {
          tid = id;
          $("#ip").attr("value",id);

          $.ajax({
              url: "{% url 'resume-preview-template'%}",
              headers: {
                  'templateId': id,
                  'userId':{{ request.user.id }},
              },
              success: function (val) {
                  $("#main-content-space").html(val)
              }
          });
      }
    </script>
{% endblock %}