  <!-- ======= Footer ======= -->
  {% load static %}
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>SCOPEA</h3>
                    <p>
                    An initiative of <br>
                    <strong> VKSSF Alumni Association</strong> <br>
                    World Konkani Centre, Lobo Prabhu Nagar - Konkani Gaon, <br>
                    Shakti Nagar, Mangaluru - 575016 <br>
              
                        {% comment %} <strong>Email:</strong> vkssfalumni@gmail.com<br> {% endcomment %}
                    </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/SushikshaWkc" class="twitter" target="_blank"><i
                    class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/vkssfalumni/" class="facebook" target="_blank"><i
                    class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/vkssf_alumni/" class="instagram" target="_blank"><i
                    class="bx bxl-instagram"></i></a>
            <a href="mailto:sushikshawkc@gmail.com" class="google-plus" target="_blank"><i class="bx bxs-envelope"></i></a>
            <a href="https://www.linkedin.com/company/sushiksha/" class="linkedin" target="_blank"><i
                    class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

              

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Quick access</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'quiz_index' %}">Aptitude Tests</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'language_quiz_index' %}">Language Tests</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'resume-home' %}">Resume Builder</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'interview-home' %}">Mock Interviews</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'counselling-home' %}">Counselling</a></li>
                    </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Websites</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://vishwakonkani.org/" target="_blank">WKC</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://vkssfalumni.com/" target="_blank">VKSSF Alumni</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://sushiksha.konkanischolarship.com/" target="_blank">Sushiksha</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://kshamata.konkanischolarship.com/" target="_blank">KSHAMATA</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://scopea.konkanischolarship.com/" target="_blank">SCOPEA</a></li>
                    </ul>
          </div>

                          <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>An Initiative by</h4>
                    <img src="{% static 'assets/img/wkc_logo.png' %}" alt="WKC LOGO" width="80%">

                </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>SCOPEA</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="http://sushiksha.konkanischolarship.com/">Sushiksha</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  {% include 'include/scripts.html' %}
