{% load static %}

  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

<meta name="google-site-verification" content="JqmfwIk6nPva6FmjEtspLjVGDx1oH8CxN4kTh_dJxjw" />

  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
<link href="{% static 'assets/img/feviicon.png' %}" rel="icon">
<link href="{% static 'assets/img/apple-touch.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"
  />
  {% include 'include/style.html' %}

