{% load static %}

<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<meta name="google-site-verification" content="zAd77RZCfDYR45CXms5QOIjexAOElIIKpMM6j5A9R3I"/>


<meta content="VKSSF Alumni Association aims to empower the Scholars by self assessment tools and alumni engaged interactions. You can now access a series of Aptitude Tests loaded with huge question bank evolved over the years. You can build your resume with a world-class resume builder, reviewed online by alumni mentors. You can test your domain skills by Branch wise Technical Mock Interviews or HR Mock Interviews, which can be scheduled with ease. We the Alumni of WKC are with you in your greatest challenge in life so far. Getting you Placed. Lets begin.." name="description"/>
<meta content="SCOPEA VKSSF WKC SCOHLARSHIP" name="keywords"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@vkssfalumni">
<meta name="twitter:creator" content="@vkssfalumni">
<meta name="twitter:title" content="SCOPEA BE PREPARED!!">
<meta name="twitter:description" content="VKSSF Alumni Association aims to empower the Scholars by self assessment tools and alumni engaged interactions. You can now access a series of Aptitude Tests loaded with huge question bank evolved over the years. You can build your resume with a world-class resume builder, reviewed online by alumni mentors. You can test your domain skills by Branch wise Technical Mock Interviews or HR Mock Interviews, which can be scheduled with ease. We the Alumni of WKC are with you in your greatest challenge in life so far. Getting you Placed. Lets begin..">
<meta name="twitter:image" content="{% static 'assets/img/slide/101.jpg' %}">

<!-- Favicons -->
<link href="{% static 'assets/img/feviicon.png' %}" rel="icon">
<link href="{% static 'assets/img/apple-touch.png' %}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet"
/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E8M6KPPRLV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E8M6KPPRLV');
</script>
{% include 'include/style.html' %}

