{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-9 d-flex align-items-center">
        {% comment %} <h1 class="logo mr-auto"><a href="{% url 'index' %}">SCOPEA</a></h1> {% endcomment %}
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="{% url 'index' %}" class="logo mr-auto"><img src="{% static 'assets/img/scopea.png' %}" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">Home</a></li>
          {% endif %}
         {% if user.is_authenticated %}
         <li><a href="{% url 'quiz_index' %}">Aptitude Tests</a></li>
          <li class="drop-down">
              <a href="{% url 'resume-contact' %}">Resume Builder</a>
              <ul>
                <li><a href="{% url 'resume-contact' %}">Build</a></li>
                <li><a href="{% url 'resume-preview' %}">Preview</a></li>
                <li><a href="{% url 'resume-view-user' %}">Status</a></li>
              </ul>
            </li>

            <li class="drop-down">
              <a href="{% url 'interviews-list' %}">Mock Interviews</a>
              <ul>
                <li><a href="{% url 'interviews-list' %}">HR</a></li>
                <li><a href="#">TECH</a></li>
                <li><a href="{% url 'gd-interviews-list' %}">GD</a></li>
              </ul>
            </li>
            {% if request.user.profile.is_mentor %}
            <li class="drop-down">
              <a href="">Mentors Panel</a>
              <ul>
                <li><a href="{% url 'resume-list' %}">Resume</a></li>
                <li><a href="{% url 'interview-list-mentor' %}">Interviews</a></li>
                <li><a href="{% url 'gd-list-mentor' %}">Group Discussion</a></li></li>
              </ul>
            </li>
            {% endif %}

            {% if user.is_staff or user.is_superuser %}
            <li><a href="/admin">Admin Panel</a></li>
            {% endif %}
            <li class="drop-down">
              <a href="{% url 'profile' %}">Profile</a>
              <ul>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>

            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
        
      </div>
    </div>
  </div>
</header>
<!-- End Header -->
