{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-9 d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="{% url 'index' %}">SCOPEA</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            {% comment %}
            <li><a href="#about">About</a></li>
            {% endcomment %} {% if user.is_authenticated %}
            <li class="drop-down">
              <a href="#">Interviews</a>
              <ul>
                <li>
                  <a href="{% url 'interviews-list' %}">Interviews</a>
                </li>
                <li>
                  <a href="{% url 'gd-interviews-list' %}">Group Discussion</a>
                </li>
              </ul>
            </li>
            <li><a href="{% url 'quiz_index' %}">Assessments</a></li>
            {% if request.user.profile.is_mentor %}
            <li class="drop-down">
              <a href="">Mentors Panel</a>
              <ul>
                <li><a href="{% url 'resume-list' %}">Resume</a></li>
                <li><a href="{% url 'interview-list-mentor' %}">Interviews</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>
            {% endif %}

            <li class="drop-down">
              <a href="">Resume</a>
              <ul>
                <li><a href="{% url 'resume-contact' %}">Edit Details</a></li>
                <li><a href="{% url 'resume-preview' %}">Preview</a></li>
                <li><a href="{% url 'resume-view-user' %}">Status</a></li>
                <li class="drop-down">
                  <a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            {% if user.is_staff or user.is_superuser %}
            <li><a href="/admin">Admin Panel</a></li>
            {% endif %}
            <li class="drop-down">
              <a href="{% url 'profile' %}">Profile</a>
              <ul>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>

            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>

            {% endif %}
          </ul>
        </nav>

        {% comment %}
        <a href="#about" class="get-started-btn scrollto">Get Started</a> 
        {% endcomment %}
      </div>
    </div>
  </div>
</header>
<!-- End Header -->
