<script type="text/javascript">
      $(document).ready(function () {
      toastr.options = {
    "closeButton": true,
    "progressBar": true,
    "debug": false,
    "newestOnTop": false,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "1000",
    "hideDuration": "1200",
    "timeOut": "5000",
    "extendedTimeOut": "1500",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }
          {% if messages %}
              {% for message in messages %}
                  toastr["{{message.tags}}"]("{{ message }}");
              {% endfor %}
          {% endif %}

      });
</script>
