{% extends 'base_page.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block loader %}
 <div id="preloader"></div>
{% endblock loader %}

{% block content %}
    <main id="main">


        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>{% trans "Language Tests" %}</h2>

                    <ol>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Language Tests</li>
                    </ol>
                </div>

            </div>
        </section>

    <section id="services" class="services">
      <div class="container">

      
        <div class="row">

            <div class="col-lg-6  align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="/static/assets/img/language.svg" class="img-fluid" alt="">
                
            </div>

            <div class="col-lg-6 wow pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
                    data-aos-delay="100">
                <p>
                    Aptitude tests are used by the employers to assess you, in terms of your skills, knowledge, ability and personality. Aptitude tests are an accurate way of predicting the potential contribution of a candidate and the likelihood of them achieving success within the organization. SCOPEA's Aptitude Tests Bank has been evolved over the years. Constant reviews by KSHAMATA Resources and Alumni Mentors, SCOPEA's Aptitude Tests are kept up to date to ensure, you are practicing with tools relevant to your placements.</p>
                <p>
                    Remember, in Aptitude Practice, "How recently you have practiced?" matters a lot. Keep practicing, ask yourself what can be better than this?
                </p>

            </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-4">
            <div class="icon-box">
            <i class="icofont-dart"></i>
              <h4><a href="{% url 'language_quiz_category_list_all' %}">Category wise</a></h4>
            </div>
          </div>

            <div class="col-md-4">
            <div class="icon-box">
            <i class="icofont-anchor"></i>
              <h4><a href="{% url 'language_quiz_progress' %}">Progress</a></h4>
            </div>
          </div>
            {% if user.is_superuser %}
            <div class="col-md-4">
            <div class="icon-box">
            <i class="icofont-settings"></i>
              <h4><a href="{% url 'language_quiz_marking' %}">View Test Submission</a></h4>
            </div>
          </div>
             {% endif %}
        </div>
      </div>
    </section>
<section id="" class="">
                <div class="container">
        {% if quiz_list %}
                    <div class="card">
                        <div class="card-header py-3">
                            <p class="font-weight-bold p-0 m-0 text-center text-uppercase underline highlight_text">
                                Available Tests</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table  table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>{% trans "Title" %}</th>
                                        <th>{% trans "Category" %}</th>
                                        <th style="min-width:130px"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for quiz in quiz_list %}

                                        <tr>
                                            <td>{{ quiz.title }}</td>
                                            <td>{{ quiz.category }}</td>
                                            <td>
                                                <a href="{% url 'language_quiz_start_page' slug=quiz.url %}"
                                                   class="btn btn-danger"
                                                   >
                                                    {% trans "Start Test" %}
                                                </a>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="card">
                        <div class="card-header py-3">
                            <p class="font-weight-bold p-0 m-0 text-center text-uppercase underline highlight_text">
                                No tests available now, stay tuned</p>
                        </div>
                    </div>
        {% endif %}
                </div>
</section>


    </main>
{% endblock %}
