{% extends "base_page.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css"/>
{% endblock %}

{% block content %}

    <main id="main">

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{ heading }}<br>
                        <small class="text-muted" style="font-size:13px">*All date and time are based IST
                            (Kolkata/Asia)</small>
                    </h2>


                    <ol>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'interview-home' %}">Mock Interviews</a></li>
                        <li>GD Interview</li>
                    </ol>
                </div>

            </div>
        </section>


        <section id="blog" class="blog pricing">
            <div class="container" data-aos="fade-up">
                {% if form %}
                    <div class="row">
                        <form method="POST" action="" class="col-md-6">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="submit" class="btn btn-block custom-success-btn animate__animated">Schedule
                            </button>
                        </form>
                    </div>
                {% endif %}


            {% if interviews_scheduled %}

                    <h2 class="mt-5">Available Interviews</h2>
                    <div class="row ">
                     {% for i in interviews_scheduled %}
                            <div class="col-lg-6 col-md-6 mt-4 mt-lg-0">
                                <div class="box">
                                <span class="advanced">{{ i.type }}</span>
                                        <h3 class="card-title">{{ i.heading }}</h3>
                                        <h4 class="card-text">Timings: {{ i.start_time | date:"h:i A, D d"}} - {{ i.end_time | date:"h:i A, D d" }}  ({{ i.end_time | date:"M, Y" }})</h4>
                                        <div class="btn-wrap">
                                        {% if request.user == i.participant_1 %}
                                            <a href="{% url 'interview-detail-mentor' intId=i.id %}"
                                               class="btn btn-block custom-info-btn animate__animated animate__fadeInUp scrollto">Details </a>
                                        {% else %}
                                            {% if whatIS == 'hr' %}
                                                <a href="{% url 'hr-interviews-single' intId=i.id %}"
                                                   class="btn btn-block custom-info-btn animate__animated animate__fadeInUp scrollto">Details </a>
                                            {% elif whatIS == 'tech' %}
                                                <a href="{% url 'interviews-single' intId=i.id %}"
                                                   class="btn btn-block custom-info-btn animate__animated animate__fadeInUp scrollto">Details </a>
                                            {% else %}
                                                <a href="{% url 'counselling-single' intId=i.id %}"
                                                   class="btn btn-block custom-info-btn animate__animated animate__fadeInUp scrollto">Details </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                {% endif %}

            {% if interviews_completed %}
                <h2 class="mt-5">Interviews Completed/Scheduled</h2>
                    <div class="row">
                        {% for i in interviews_completed %}
                            <div class="col-lg-6 col-md-6 mt-4 mt-lg-0">
                                <div class="box">
                                <span class="advanced">{{ i.type }}</span>
                                        <h3 class="card-title">{{ i.heading }}</h3>
                                        <h4 class="card-text">Timings: {{ i.start_time | date:"h:i A, D d"}} - {{ i.end_time | date:"h:i A, D d" }}  ({{ i.end_time | date:"M, Y" }})</h4>
                                        <h4 class="card-text">Participants: {{ i.participant_1 }}, {{ i.participant_2 }}</h4>
                                        {% if request.user.profile.is_mentor and request.user == i.participant_1 %}
                                            <a href="{% url 'interview-detail-mentor' intId=i.id %}" class="btn-buy btn-block">Details </a>
                                        {% else %}
                                            <a href="{% url 'interviews-single' intId=i.id %}" class="btn-buy btn-block">Details </a>
                                        {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section><!-- End Blog Single Section -->

    </main><!-- End #main -->

{% endblock content %}


{% block custom_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"
            integrity="sha512-s5u/JBtkPg+Ff2WEr49/cJsod95UgLHbC00N/GglqdQuLnYhALncz8ZHiW/LxDRGduijLKzeYb7Aal9h3codZA=="
            crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#id_start_time").datetimepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0",
            }).attr("autocomplete", "off");
            $("#id_end_time").datetimepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0",
            }).attr("autocomplete", "off");

        });
    </script>

{% endblock %}