{% extends 'base_page.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block loader %}
 <div id="preloader"></div>
{% endblock loader %}

{% block content %}
    <main id="main">


        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>{% trans "List of quizzes" %}</h2>

                    <ol>
                        <li><a href="#">Home</a></li>
                        <li>Practice</li>
                    </ol>
                </div>

            </div>
        </section>

    <section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="icon-box">
            <i class="icofont-dart"></i>
              <h4><a href="{% url 'quiz_category_list_all' %}">Category wise</a></h4>
            </div>
          </div>

            <div class="col-md-4">
            <div class="icon-box">
            <i class="icofont-anchor"></i>
              <h4><a href="{% url 'quiz_progress' %}">Progress</a></h4>
            </div>
          </div>
            {% if user.is_superuser %}
            <div class="col-md-4">
            <div class="icon-box">
            <i class="icofont-settings"></i>
              <h4><a href="{% url 'quiz_marking' %}">View Test Submission</a></h4>
            </div>
          </div>
             {% endif %}
        </div>
      </div>
    </section>
<section id="" class="">
                <div class="container">
        {% if quiz_list %}
                    <div class="card">
                        <div class="card-header py-3">
                            <p class="font-weight-bold p-0 m-0 text-center text-uppercase underline highlight_text">
                                Avaiable Quizes</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table  table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>{% trans "Title" %}</th>
                                        <th>{% trans "Category" %}</th>
                                        <th style="min-width:130px"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for quiz in quiz_list %}

                                        <tr>
                                            <td>{{ quiz.title }}</td>
                                            <td>{{ quiz.category }}</td>
                                            <td>
                                                <a href="{% url 'quiz_start_page' slug=quiz.url %}"
                                                   class="p-1 mb-2 lh-1 fw-bold bg-danger bg-gradient text-white rounded-pill text-sm"
                                                   style="font-size: 9px">
                                                    {% trans "View details" %}
                                                </a>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="card">
                        <div class="card-header py-3">
                            <p class="font-weight-bold p-0 m-0 text-center text-uppercase underline highlight_text">
                                No tests available now, stay tuned</p>
                        </div>
                    </div>
        {% endif %}
                </div>
</section>


    </main>
{% endblock %}
