{% load static %}


<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center">
            <img src="{% static 'assets/img/logo.png' %}" alt="">
            <span>FlexStart</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown"><a href="#"><span>Interviews</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{% url 'interviews-list' %}">Technical Interviews</a></li>
                        <li><a href="{% url 'resume-preview' %}">Group Discussion</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="{% url 'quiz_index' %}">Assessments</a></li>
                {% if request.user.is_authenticated %}
                    {% if request.user.profile.is_mentor %}
                        <li class="dropdown"><a href="#"><span>Mentors Panel</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{% url 'resume-list' %}">Resume</a></li>
                    </ul>
                        {% endif %}
                {% endif %}

                <li class="dropdown"><a href="#"><span>Resume</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{% url 'resume-contact' %}">Edit Details</a></li>
                        <li><a href="{% url 'resume-preview' %}">Preview</a></li>
                        <li><a href="{% url 'resume-view-user' %}">Status</a></li>
                    </ul>
                </li>
            {% if user.is_staff or user.is_superuser %}
                <li><a class="nav-link scrollto" href="/admin">Admin Panel</a></li>
            {% endif %}
                    <li><a class="nav-link scrollto" href="{% url 'profile' %}">Profile</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'password_reset' %}">Reset Password</a></li>
                <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                    <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'register' %}">Register</a></li>
            {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>
