{% extends 'base_page.html' %}
{% block custom_css %}
     {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'compiler/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'compiler/js/jquery.min.js'%}"></script>
{% endblock %}
{% block content %}
    <main id="main">
    <section class="breadcrumbs">
        <div class="container">

            {% if not heading %}
                <h2 class="entry-title">Let's code
                </h2>
            {% endif %}
        </div>
    </section>


    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
        {% include 'compiler/code_editor_content.html' %}
        </div>
    </section>
    </main>
{% endblock %}



