body {
    font-family: 'Quicksand', sans-serif !important;
    padding-top: 70px;
    padding-bottom: 30px;
    background-image: url("../image/bck.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.ace_editor, .ace_editor div{
    font-family:monospace;
    font-size: 14;
}
#login_cont{
    background-color: #E8EAF6;
}
body * {
    font-family: 'Quicksand', sans-serif;
}
#q_id{
    text-decoration-color:#00c853;
    background-color: #E8EAF6;
    font-size: 18px !important;
}
#spacing {
    padding-top: 40%;
}
#footer-compiler {
    padding: 15px;
    background-color: #333;
}
#middle {
    margin-top: 20px;
    margin-bottom: 50px;
}
#outermost {
    background-color: #eee;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.language-text {
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 10px;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.innermost {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 80px;
}
#testcases {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}
#custom-check {
    margin-top: 13px;
}
#header {
    border: 1px;
    background: #333;
}
#lang-select {
    background-color: #000;
}
.button-style {
    background-color: #4caf50;
    border-radius: 5px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #366624;
}
#language {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    text-align: left;
}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}
.theme-showcase .navbar .container {
    width: auto;
}
.wmd-panel {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
/*Styles for overriding bootstrap list numbering*/
ol li.list-group-item {
    list-style: decimal inside;
    display: list-item;
}
#testcases {
    display: none;
}
#nav-main {
    background: #199eb8;
    height: 70px;
}
#facebook-nav {
    color: white;
    margin-right: 40px;
    padding-top: 30px !important;
}
#logo {
    max-height: 30px !important;
}
.table-fit {
    width: 1px;
}
table tr:hover td {
    background-color: white;
}
/* Styles that can be reused */
* {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.btn-primary-outline {
    background: transparent;
    color: #66bb6a;
    border: 1px solid #66bb6a;
}
.btn-primary-outline:hover {
    background: #66bb6a;
    color: #f5f5f5;
    border: 1px solid #66bb6a;
}
.solve-question-button {
    background: #66bb6a;
    color: #f5f5f5;
    border: 1px solid #66bb6a;
}
.solve-question-button:hover {
    background: #66bb6a;
    color: #f5f5f5;
    border: 1px solid #66bb6a;
}
/* Overriding Bootstrap */
.alert {
    text-align: center;
}
.alert.alert-error {
    background-color: #ef5350;
    color: #f2f2f2;
}
/* Styles For Login Page */
.login-signup-container {
    text-align: center;
    max-width: 500px;
    padding-top: 6%;
}
.login-signup-container h1 {
    font-size: 3.5em;
    letter-spacing: 1px;
    padding-bottom: 50px;
}
.login-signup-container * {
    font-family: 'Quicksand', sans-serif;
}
.login-signup-container .form-group {
    margin: 30px;
}
.login-signup-container .alert-block {
    margin: 30px;
}
.login-signup-container .alert-block ul {
    margin: 0px;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
}
.login-signup-container .alert-block li {
    list-style: none;
}
.login-signup-container input.form-control {
    font-size: 1.2em;
    height: auto;
    padding: 15px;
}
.login-signup-container input.form-control:focus {
    border-color: #26c6da;
}
.login-signup-container div#div_id_remember {
    font-size: 1.1em;
}
.login-signup-container .form-group .control-label {
    display: none;
}
.login-signup-container .login-signup-button-container {
    margin: 30px;
}
.login-signup-container .login-signup-button {
    padding: 15px;
    font-size: 1.2em;
    display: block;
    width: 100%;
    background-color: transparent;
    color: #66bb6a;
    border-color: #66bb6a !important;
}
.login-signup-container .login-signup-button:hover {
    font-size: 1.5em;
    color: #eee;
    letter-spacing: 2px;
    background-color: #66bb6a;
}
.login-signup-container .links div {
    margin: 25px;
    color: #9e9e9e !important;
}
.login-signup-container .links div a {
    color: #007bff !important;
    text-decoration: none;
    border-bottom: 1px dotted #007bff;
}
.login-signup-container .links div a:hover {
    color: #1976d2 !important;
    font-size: 1.1em;
    letter-spacing: 1px;
}
.login-signup-container .links .signup-link a {
    margin-left: 4px;
}
.login-signup-container .links .social-login-bar {
    color: #9e9e9e;
}
.login-signup-container .links .social-login-bar a {
    border-bottom: none;
    margin: 2rem;
    color: #42a5f5 !important;
}
.login-signup-container .links .social-login-bar a:hover {
    font-size: unset !important;
    letter-spacing: 0 !important;
    text-decoration: none;
    color: #0277bd !important;
}
/* Styles For Listing and Adding Email Addresses */
.email-addresses-container * {
    font-family: 'Quicksand', sans-serif;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.email-addresses-container h1 {
    margin-bottom: 1em;
}
.email-addresses-container .email-addresses-table {
    margin: 15px;
    font-size: 1.1em;
}
.email-addresses-container .email-addresses-table thead {
    margin-bottom: 30px;
}
.email-addresses-container .email-addresses-table thead th {
    font-weight: bolder;
    font-size: 1.3em;
    text-align: center;
}
.email-addresses-container .email-addresses-table tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}
.email-addresses-container .email-addresses-table tbody tr:hover td {
    background-color: #eee;
}
.email-addresses-container .email-addresses-table tbody td {
    padding-bottom: 15px;
    padding-top: 15px;
    vertical-align: middle;
    text-align: center;
}
.email-addresses-container .associated-email-address .email-radio-input {
    display: none;
}
.email-addresses-container button {
    background-color: transparent;
    margin: auto 5px;
}
.email-addresses-container .email-address-action-buttons button.make-primary, .email-addresses-container .add-email-button {
    border-color: #66bb6a;
    color: #66bb6a;
}
.email-addresses-container .email-address-action-buttons button.make-primary:hover, .email-addresses-container .add-email-button:hover {
    background-color: #66bb6a;
    color: #f5f5f5;
}
.email-addresses-container .email-address-action-buttons button.send-verification {
    border-color: #26c6da;
    color: #26c6da;
}
.email-addresses-container .email-address-action-buttons button.send-verification:hover {
    background-color: #26c6da;
    color: #f5f5f5;
}
.email-addresses-container .email-address-action-buttons button.remove-email {
    border-color: #ef5350;
    color: #ef5350;
}
.email-addresses-container .email-address-action-buttons button.remove-email:hover {
    background-color: #ef5350;
    color: #f5f5f5;
}
.email-addresses-container form.add_email #div_id_email {
    width: 100%;
}
.email-addresses-container form.add_email #div_id_email > label {
    display: none;
}
.email-addresses-container form.add_email #div_id_email input {
    font-size: 1.3em;
    height: auto;
}
.email-addresses-container form.add_email .add-email-button {
    width: 100%;
    font-size: 1.3em;
    margin: 5px auto;
}
/* Styles For List of Questions */
.question-list {
    margin-top: 5em;
    list-style: none;
}
.question-row {
    display: table;
}
.question-row > div {
    display: table-cell;
    vertical-align: middle;
}
.question-row > .question-name {
    width: 100%;
}
/* Common Styles for List of Questions and Practice > List of Tracks */
.question, .track, .contest {
    padding: 25px;
    margin-bottom: 50px;
    background: transparent !important;
    font-size: 1.3em;
    font-weight: bolder;
    border: 1px solid #26c6da;
}
.question:hover, .track:hover, .contest:hover {
    background: #40c4ff !important;
    border-color: #40c4ff;
}
.question:hover .question-name span, .track:hover h3, .contest:hover h3 {
    color: #f5f5f5;
}
.question .question-name span, .track h3, .contest h3 {
    color: #26c6da;
}
.solve-question-button:hover {
    background: #00c853;
    border-color: #00c853;
}
/* CSS For Practice > List of Tracks and Contests > List of Contests */
.tracks-container .row .col-md-4, .contests-container .row .col-md-4 {
    padding-left: 30px;
    padding-right: 30px;
}
.tracks-container, .contests-container {
    margin-top: 4em;
}
.tracks-container .primary-heading, .contests-container .primary-heading {
    margin-bottom: 2em;
}
.view-leaderboard-link {
    margin-bottom: 0;
    text-decoration: none !important;
}
.view-leaderboard-link:hover {
    letter-spacing: 2px;
}
.track h3, .contest h3 {
    margin-bottom: 2em;
}
.track p a, .contest p a {
    margin-top: 2em;
    width: 100%;
}
/* Styles For Leaderboard */
.leaderboard-container {
    margin-top: 4em;
}
.leaderboard-container h1 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 2em;
}
.leaderboard-table tr:hover td {
    background: #e8f5e9;
}
.leaderboard-table td {
    padding: 1em !important;
    text-align: center;
    text-transform: uppercase;
}
.leaderboard-table th {
    padding: 1em !important;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
}
.leaderboard-table td {
    font-size: 1.2em;
}
.leaderboard-table td a {
    text-decoration: none !important;
}
.leaderboard-table td a:hover {
    color: #26c6da;
}
