<div>
{% if name %}
<p>Hi {{name}},</p>
{% else %}
<p>Hi, </p>
{% endif %}

<p>{{content}}</p>
<br>
<strong>Interview Details,</strong>
<table>
<tr><td>Interview Type:  </td><td>{{interview_type}}</td></tr>
<tr><td>Invitee email:   </td><td>{{interview_email}}</td></tr>
<tr><td>Interview Date/Time: </td><td>{{interview_date}}</td></tr>
<tr><td>Description: </td><td>{{interview_description}}</td></tr>
<tr><td>Location:    </td><td>{{interview_location}}</td></tr>
<tr><td>Invitee Time Zone:   </td><td>{{interview_time}}</td></tr>
</table>
<br>
<span>View Interview Details on SCOPEA: <a href={{link}}>{{link}}</a> </span>
<hr>


<div>
<img src="https://scopea.konkanischolarship.com/static/assets/img/scopea.png" class="img-fluid" width="110px">
 
<p>
An initiative of <br>
<strong> VKSSF Alumni Association</strong> <br>
World Konkani Centre, Lobo Prabhu Nagar - Konkani Gaon, <br>
Shakti Nagar, Mangaluru - 575016 <br>
</p>
</div>
</div>


